<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/vendor/splide-core.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    @@include('modules/_header-site.html')
    <main class="page">
      <div class="page-head">
        <div class="container">
          <div class="container-narrow">
            <h1 class="page-head__title">О компании</h1>
            <div class="page-head__subtitle page-head__subtitle--lg">
              Мировой лидер в проектировании и производстве инфракрасных
              обогревателей
            </div>
          </div>
        </div>
      </div>
      <div class="bg-img-fullwidth">
        <img
          src="img/content/about-img.jpg"
          alt="bar"
          srcset="img/content/about-img@2x.jpg 2x"
        />
      </div>
      <section class="page-section">
        <div class="container">
          <h2>Наша история</h2>
          <ul class="list-number list-number--grid">
            <li data-num="01">
              <div class="list-number__title">История</div>
              <p>
                Итальянская компания STAR PROGETTI была основана в начале 1990-х
                годов и начала свою деятельность с производства знаменитого
                газового обогревателя Fungo®, который произвел революцию в сфере
                отопления для террас по всей Европе.
              </p>
            </li>
            <li data-num="02">
              <div class="list-number__title">Мы – лидеры</div>
              <p>
                С 1994 года STAR PROGETTI является лидером рынка в разработке и
                производстве инфракрасных обогревателей. Многолетний опыт в
                исследованиях и применении инфракрасных технологий, STAR
                PROGETTI может разрабатывать инфракрасные обогреватели,
                обеспечивающие максимальную тепловую эффективность.
              </p>
            </li>
            <li data-num="03">
              <div class="list-number__title">Надежность</div>
              <p>
                STAR PROGETTI сегодня – это международная группа, продукция
                которой представлена ​​более чем в 60 странах мира.
              </p>
            </li>
            <li data-num="04">
              <div class="list-number__title">Качество</div>
              <p>
                STAR PROGETTI работает в соответствии с системой менеджмента
                качества ISO 9001: 2015.
              </p>
            </li>
            <li data-num="05">
              <div class="list-number__title">Штаб – квартира</div>
              <p>
                Компания имеет новый головной офис в Трибиано под Миланом с
                производственными помещениями площадью более 15 000 квадратных
                метров. Новая штаб-квартира включает в себя управленческий
                аппарат, все офисы компании и три отдельных производственных
                помещения, оснащенные по последнему слову техники. Штаб-квартира
                Star Progetti France находится в Куизери (Франция) и занимает
                площадь в 5000 м2
              </p>
            </li>
            <li data-num="06">
              <div class="list-number__title">Европейские стандарты</div>
              <p>
                Все обогреватели проектируются и производятся на фабрике под
                Миланом
              </p>
            </li>
          </ul>
        </div>
      </section>
      <section class="page-section page-section--gray">
        <div class="container">
          <div class="container-narrow">
            <div class="page-section__head">
              <h2>Сертификация</h2>
              <div class="page-section__text">
                Star Progetti позаботилась о безопасности монтажников,
                дистрибьюторов и пользователей. Сертификаты качества
                гарантируют, что продукция прошла проверку качества и все
                испытания, необходимые для подтверждения безопасности и
                надежности. Сертифицирующие организации проводят мониторинг во
                время производства и при выпуске продукции на рынок.
              </div>
            </div>
          </div>
          <div class="certification">
            <div class="certification__item">
              <div class="certification__img">
                <img src="img/content/sert-csq.png" alt="" />
              </div>
              <div class="certification__text">
                Компания с UNI EN ISO 9001: 2015. Система менеджмента качества
              </div>
            </div>
            <div class="certification__item">
              <div class="certification__img">
                <img src="img/content/sert-ce.png" alt="" />
              </div>
              <div class="certification__text">
                Знак CE подтверждает, что продукция была проверена и
                соответствует требованиям, установленным ЕС в отношении
                здоровья, безопасности и защиты окружающей среды
              </div>
            </div>
            <div class="certification__item">
              <div class="certification__img">
                <img src="img/content/sert-imq-gs.png" alt="" />
              </div>
              <div class="certification__text">
                Знак IMQ-GS указывает, что продукты в соответствии с
                законодательством Германии
              </div>
            </div>
            <div class="certification__item">
              <div class="certification__img">
                <img src="img/content/sert-intertek.png" alt="" />
              </div>
              <div class="certification__text">
                Знак Intertek ETL - знак безопасности, признанный во всей
                Северной Америке и Канаде.
              </div>
            </div>
            <div class="certification__item">
              <div class="certification__img">
                <img src="img/content/sert-eac.png" alt="" />
              </div>
              <div class="certification__text">
                Сертификация EAC для продуктов, предназначенных для на экспорт в
                Россию
              </div>
            </div>
            <div class="certification__item">
              <div class="certification__img">
                <img src="img/content/sert-atex.png" alt="" />
              </div>
              <div class="certification__text">
                Директива ATEX / 94/9 / CE устанавливает требования безопасности
                для электрического оборудования, предназначенного для
                использования в потенциально взрывоопасных средах, так что оно
                не может быть потенциальным источником воспламенения.
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-section">
        <div class="container">
          <div class="page-section__head">
            <h2>Дизайн и патенты</h2>
          </div>
          <div class="tiles tiles--revers">
            <div class="tile">
              <div class="tile__text">
                <div class="tile__title">Инновации</div>
                <p>
                  Star Progetti - экологически устойчивая фирма с нулевым
                  воздействием. Для производства оборудования для отопления Star
                  Progetti использует энергию исключительно из возобновляемых
                  источников.
                </p>
              </div>
              <div class="tile__img">
                <img src="img/design/innovation.svg" alt="Инновации" />
              </div>
            </div>
            <div class="tile">
              <div class="tile__text">
                <div class="tile__title">Экологичность</div>
                <p>
                  Star Progetti, экологически безопасная компания с нулевым
                  воздействием на окружающую среду
                </p>
              </div>
              <div class="tile__img">
                <img src="img/design/sustainability.svg" alt="Экологичность" />
              </div>
            </div>
            <div class="tile">
              <div class="tile__text">
                <div class="tile__title">Патенты</div>
                <p>
                  Star Progetti зарегистрировала 10 патентов, которые защищают
                  интеллектуальную собственность своих инноваций – плод
                  многолетних исследований в области инфракрасного обогрева.
                </p>
              </div>
              <div class="tile__img">
                <img src="img/design/patents.svg" alt="Патенты" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-section page-section--gray">
        <div class="container">
          <div class="page-section__head">
            <h2>История компании</h2>
          </div>
        </div>

        <div class="js-history history splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="history__item">
                  <span>1994</span>
                  <div class="history__text">
                    Основание компании и разработка первого газового
                    обогревателя Fungo
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="history__item">
                  <span>1996</span>
                  <div class="history__text">
                    Рост и расширение на европейском рынке
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="history__item">
                  <span>1997</span>
                  <div class="history__text">
                    Производство первого электрического инфракрасного
                    обогревателя
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="history__item">
                  <span>1997</span>
                  <div class="history__text">
                    Открытие новой фабрики в Трибьяно (Милан)
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="splide__arrows splide__arrows--line">
            <div class="container">
              <div class="splide__arrows-inner">
                <button
                  class="splide__arrow splide__arrow--prev splide__arrow--black"
                ></button>
                <button
                  class="splide__arrow splide__arrow--next splide__arrow--black"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="page-section">
        <div class="container">
          <div class="page-section__head">
            <h2>Наши клиенты</h2>
          </div>

          <div class="clients-logo">
            <div class="clients-logo__item">
              <img src="img/content/logo-clients/ikea.png" alt="" />
            </div>
            <div class="clients-logo__item">
              <img src="img/content/logo-clients/armani.png" alt="" />
            </div>
            <div class="clients-logo__item">
              <img src="img/content/logo-clients/saintgobain.png" alt="" />
            </div>
            <div class="clients-logo__item">
              <img src="img/content/logo-clients/mcdonalds.png" alt="" />
            </div>
            <div class="clients-logo__item">
              <img src="img/content/logo-clients/grandhyatt.png" alt="" />
            </div>
            <div class="clients-logo__item">
              <img src="img/content/logo-clients/gucci.png" alt="" />
            </div>
            <div class="clients-logo__item">
              <img src="img/content/logo-clients/marcegaglia.png" alt="" />
            </div>
            <div class="clients-logo__item">
              <img src="img/content/logo-clients/carraro.png" alt="" />
            </div>
            <div class="clients-logo__item">
              <img src="img/content/logo-clients/cavagnagroup.png" alt="" />
            </div>
            <div class="clients-logo__item">
              <img src="img/content/logo-clients/hardrock.png" alt="" />
            </div>
          </div>
          <div class="centered">
            <a href="#" class="btn btn--white btn--outline btn--fw-mobile"
              >Все клиенты</a
            >
          </div>
        </div>
      </section>
    </main>
    @@include('modules/_footer.html')
    <script src="js/vendor/splide.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
