<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/vendor/splide-core.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    @@include('modules/_header-store.html')
    <main class="page">
      <div class="page-head">
        <div class="container">
          <div class="container-narrow">
          <h1 class="page-head__title">Корзина</h1>
        </div>
      </div>
      <div class="container">
        <div class="cart-delivery">
          <div class="cart-delivery__form">
            <form action="">
              <fieldset class="form-personal-data">
                <legend>Личные данные</legend>
                <div class="form-personal-data__group">
                  <label class="field-text field-text--error">
                    <span class="field-text__input-wrap">
                      <span class="field-text__help-text"
                        >Поле обязательно для заполнения</span
                      >
                      <input class="field-text__input" type="text" placeholder="Имя*" />
                    </span>
                  </label>
                  <label class="field-text">
                    <span class="field-text__input-wrap">
                      <span class="field-text__help-text"
                        >Поле обязательно для заполнения</span
                      >
                      <input class="field-text__input" type="text" placeholder="Фамилия*" />
                    </span>
                  </label>
                  <label class="field-text">
                    <span class="field-text__input-wrap">
                      <span class="field-text__help-text"
                        >Поле обязательно для заполнения</span
                      >
                      <input class="field-text__input" type="text" placeholder="Телефон*" />
                    </span>
                  </label>
                  <label class="field-text">
                    <span class="field-text__input-wrap">
                      <span class="field-text__help-text"
                        >Поле обязательно для заполнения</span
                      >
                      <input class="field-text__input" type="email" placeholder="E–mail*" />
                    </span>
                  </label>
              </div>
              </fieldset>
              <fieldset class="form-delivery">
                <legend>Способ доставки</legend>
                <div class="form-delivery__group">
                  <div class="field-wrap">
                    <div class="field-radio">
                      <label class="field-radio__name">
                        <input class="field-radio__input" type="radio" name="delivery" checked />
                        <span class="field-radio__name-text"
                          >Доставка по адресу</span
                        >
                      </label>
                      <div class="field-radio__info"
                          >Доставим за 1–2 дня</div
                        >
                    </div>
                    <span class="field-wrap__price">1 000 ₽</span>
                  </div>
                  <div class="field-wrap">
                    <div class="field-radio">
                      <label class="field-radio__name">
                        <input class="field-radio__input" type="radio" name="delivery" />
                        <span class="field-radio__name-text"
                          >Доставка до пункта выдачи</span
                        >
                      </label>
                      <div class="field-radio__info"
                          >Доставим за 3–4 дня</div
                        >
                    </div>
                    <span class="field-wrap__price">300 ₽</span>
                  </div>
                  <div class="field-wrap">
                    <div class="field-radio">
                      <label class="field-radio__name">
                        <input class="field-radio__input" type="radio" name="delivery" />
                        <span class="field-radio__name-text"
                          >Доставка почтой</span
                        >
                      </label>
                      <div class="field-radio__info"
                          >Доставим за 7–9 дней</div
                        >
                    </div>
                    <span class="field-wrap__price">300 ₽</span>
                  </div>
                </div>
              </fieldset>
              <fieldset class="form-type-payment">
                <legend>Способ оплаты</legend>
                <div class="form-type-payment__group">
                  <div class="field-wrap">
                    <div class="field-radio">
                      <label class="field-radio__name">
                        <input class="field-radio__input" type="radio" name="payment" checked />
                        <span class="field-radio__name-text"
                          >При получении</span
                        >
                      </label>
                      <div class="field-radio__info"
                          >Курьеру или в пункте выдачи при получении</div>
                    </div>
                  </div>
                  <div class="field-wrap">
                    <div class="field-radio">
                      <label class="field-radio__name">
                        <input class="field-radio__input" type="radio" name="payment" />
                        <span class="field-radio__name-text"
                          >Онлайн банковской картой</span
                        >
                      </label>
                      <div class="field-radio__info">
                        <ul class="payment-icons">
                          <li><img src="img/icons/icon-pay-visa.png" alt=""></li>
                          <li><img src="img/icons/icon-pay-mc.png" alt=""></li>
                          <li><img src="img/icons/icon-pay-mir.png" alt=""></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <button type="submit" class="btn">Отправить заказ</button>
            </form>
          </div>
          <div class="cart-delivery__aside">
            <div class="cart-total">
              <div class="cart-total__title">Ваш заказ</div>
              <ul class="cart-total__list">
                <li class="cart-total-product">
                  <div class="cart-total-product__img">
                    <img src="img/content/product-cart.png" alt="">
                  </div>
                  <div class="cart-total-product__name">
                    <span>Heliosa 44 2kW/IPX5/WHT</span>
                    <span>Белый</span>
                  </div>
                  <span class="cart-total-product__amount">х1</span>
                  <span class="cart-total-product__price">14 500 ₽</span>
                </li>
                <li class="cart-total-product">
                  <div class="cart-total-product__img">
                    <img src="img/content/product-cart.png" alt="">
                  </div>
                  <div class="cart-total-product__name">
                    <span>Heliosa 44 2kW/IPX5/WHT</span>
                    <span>Белый</span>
                  </div>
                  <span class="cart-total-product__amount">х1</span>
                  <span class="cart-total-product__price">14 500 ₽</span>
                </li>
                <li class="cart-total-product">
                  <div class="cart-total-product__img">
                    <img src="img/content/product-cart.png" alt="">
                  </div>
                  <div class="cart-total-product__name">
                    <span>Heliosa 44 2kW/IPX5/WHT</span>
                    <span>Белый</span>
                  </div>
                  <span class="cart-total-product__amount">х1</span>
                  <span class="cart-total-product__price">14 500 ₽</span>
                </li>
              </ul>
              <a href="">Изменить заказ</a>
              <ul class="cart-total__detail">
                <li>
                  <span>Сумма заказа</span>
                  <span>58 000 ₽</span>
                </li>
                <li>
                  <span>Доставка</span>
                  <span>300 ₽</span>
                </li>
              </ul>
              <div class="cart-total__payment">
                <span>Итог к  оплате</span>
                <span>58 300 ₽</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    @@include('modules/_footer.html')
    <script src="js/vendor/splide.min.js"></script>
    <script src="js/main.min.js"></script>
    <script>
      let galleryCompare = new Splide('.js-compare-gallery', {
        perPage: 4,
        perMove: 1,
        gap: 50,
        pagination: false,
        breakpoints: {
          992: {
            perPage: 3,
            gap: 50,
          },
          640: {
            perPage: 2,
            gap: 30,
          },
          480: {
            gap: 15,
          },
        },
      });

      galleryCompare.mount();
    </script>
  </body>
</html>
