<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/vendor/splide-core.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    <div class="page-wrapper">
      @@include('modules/_header-store.html')
      <main class="page">
        <div class="page-head pb-0">
          <div class="container">
            <h1 class="page-head__title">Корзина</h1>
          </div>
        </div>
        <div class="container">
          <div class="cart-order">
            <div class="cart-order__head">
              <span>Товар</span>
              <span>Цена</span>
              <span>Количество</span>
              <span>Итог</span>
            </div>
            <div class="cart-order__list">
              <div class="cart-order__item">
                <div class="cart-order__product">
                  <div class="cart-order__preview">
                    <img src="img/content/product-order.png" alt="" />
                    <span class="cart-order__discount">-15%</span>
                  </div>
                  <ul>
                    <li>Heliosa 44 2kW/IPX5/WHT</li>
                    <li>Белый</li>
                  </ul>
                </div>
                <div class="cart-order__price">
                  <span>14 500 ₽</span>
                  <span class="old-price">24 500 ₽</span>
                </div>
                <div class="cart-order__amount">
                  <div class="field-quantity">
                    <input
                      class="field-quantity__minus"
                      type="button"
                      value="-"
                      data-field="quantity"
                    />
                    <input
                      class="field-quantity__input"
                      type="number"
                      step="1"
                      max=""
                      value="1"
                      name="quantity"
                    />
                    <input
                      class="field-quantity__plus"
                      type="button"
                      value="+"
                      data-field="quantity"
                    />
                  </div>
                </div>
                <div class="cart-order__total">
                  <span>114 500 ₽</span>
                  <button class="btn-remove">Удалить</button>
                </div>
              </div>
              <div class="cart-order__item">
                <div class="cart-order__product">
                  <div class="cart-order__preview">
                    <img src="img/content/product-order.png" alt="" />
                  </div>
                  <ul>
                    <li>Heliosa 44 2kW/IPX5/WHT</li>
                    <li>Белый</li>
                  </ul>
                </div>
                <div class="cart-order__price"><span>14 500 ₽</span></div>
                <div class="cart-order__amount">
                  <div class="field-quantity">
                    <input
                      class="field-quantity__minus"
                      type="button"
                      value="-"
                      data-field="quantity"
                    />
                    <input
                      class="field-quantity__input"
                      type="number"
                      step="1"
                      max=""
                      value="1"
                      name="quantity"
                    />
                    <input
                      class="field-quantity__plus"
                      type="button"
                      value="+"
                      data-field="quantity"
                    />
                  </div>
                </div>
                <div class="cart-order__total">
                  <span>14 500 ₽</span>
                  <button class="btn-remove">Удалить</button>
                </div>
              </div>
            </div>
            <div class="cart-order__bottom">
              <span>Сумма заказа: 58 000 ₽</span>
              <div class="cart-order__btns">
                <a href="" class="btn btn--white">Продолжить покупки</a>
                <a href="" class="btn">Оформить заказ</a>
              </div>
            </div>
          </div>
        </div>
      </main>
      @@include('modules/_footer.html')
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
