<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="/css/app.min.css" />
  </head>
  <body>
    @@include('modules/_header-site.html')
    <main class="page">
      @@include('modules/catalog/_catalog-nav-series.html')
      <div class="catalog-banner">
        <div class="container">
          <div class="catalog-banner__content">
            <div class="catalog-banner__text">
              <h1 class="catalog-banner__title">Heliosa Hi Design 44 серия</h1>
              <p class="catalog-banner__desc">
                HELIOSA HI DESIGN 44 серия уличных инфракрасных обогревателей
                среднего размера с изящной перфорацией в боковых стенках для
                охлаждения корпуса. Закругленные мягкие формы корпуса подходят
                практически для любого интерьера. Все модели серии имеют класс
                защиты IPX5.
              </p>
            </div>
            <div class="catalog-banner__img">
              <img
                src="img/content/catalog-banner-img-1.png"
                alt="Heliosa Hi Design 44 серия"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="catalog catalog--products">
          <div class="catalog__filters">
            <div class="filters">
              <div class="filters__item">
                <div class="dropdown">
                  <button
                    type="button"
                    data-toggle="dropdown"
                    data-icon="true"
                    data-persist="true"
                  >
                    <span class="dropdown__selected">Класс влагозащиты</span>
                    <span data-clear>X</span>
                  </button>
                  <div class="dropdown__body">
                    <div class="field-drop-checkboxes">
                      <div class="field-checkbox">
                        <label class="field-checkbox__name">
                          <input
                            class="field-checkbox__input"
                            type="checkbox"
                            name="ipx"
                            value="1"
                          />
                          <span class="field-checkbox__name-text">IPX5</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filters__item">
                <div class="dropdown">
                  <button
                    type="button"
                    data-toggle="dropdown"
                    data-icon="true"
                    data-persist="true"
                  >
                    <span class="dropdown__selected">Мощность, Вт</span>
                    <span data-clear>X</span>
                  </button>
                  <div class="dropdown__body">
                    <div class="field-drop-checkboxes">
                      <div class="field-checkbox">
                        <label class="field-checkbox__name">
                          <input
                            class="field-checkbox__input"
                            type="checkbox"
                            name="power"
                            value="1"
                          />
                          <span class="field-checkbox__name-text">1500</span>
                        </label>
                      </div>
                      <div class="field-checkbox">
                        <label class="field-checkbox__name">
                          <input
                            class="field-checkbox__input"
                            type="checkbox"
                            name="power"
                            value="2"
                            checked
                          />
                          <span class="field-checkbox__name-text">2000</span>
                        </label>
                      </div>
                      <div class="field-checkbox">
                        <label class="field-checkbox__name">
                          <input
                            class="field-checkbox__input"
                            type="checkbox"
                            name="power"
                            value="3"
                          />
                          <span class="field-checkbox__name-text">2200</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filters__item">
                <div class="dropdown">
                  <button
                    type="button"
                    data-toggle="dropdown"
                    data-icon="true"
                    data-persist="true"
                  >
                    <span class="dropdown__selected">Цвет</span>
                    <span data-clear>X</span>
                  </button>
                  <div class="dropdown__body">
                    <div class="field-drop-checkboxes">
                      <div class="field-checkbox">
                        <label class="field-checkbox__name">
                          <input
                            class="field-checkbox__input"
                            type="checkbox"
                            name="color"
                            value="1"
                          />
                          <span class="field-checkbox__name-text">Белый</span>
                        </label>
                      </div>
                      <div class="field-checkbox">
                        <label class="field-checkbox__name">
                          <input
                            class="field-checkbox__input"
                            type="checkbox"
                            name="color"
                            value="2"
                          />
                          <span class="field-checkbox__name-text">Черный</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filters__item">
                <div class="dropdown">
                  <button
                    type="button"
                    data-toggle="dropdown"
                    data-icon="true"
                    data-persist="true"
                  >
                    <span class="dropdown__selected">Наличие вилки</span>
                    <span data-clear>X</span>
                  </button>
                  <div class="dropdown__body">
                    <div class="field-drop-checkboxes">
                      <div class="field-checkbox">
                        <label class="field-checkbox__name">
                          <input
                            class="field-checkbox__input"
                            type="checkbox"
                            name="elplug"
                            value="1"
                          />
                          <span class="field-checkbox__name-text">Да </span>
                        </label>
                      </div>
                      <div class="field-checkbox">
                        <label class="field-checkbox__name">
                          <input
                            class="field-checkbox__input"
                            type="checkbox"
                            value="2"
                            name="elplug"
                          />
                          <span class="field-checkbox__name-text">Нет</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filters__item">
                <div class="dropdown">
                  <button
                    type="button"
                    data-toggle="dropdown"
                    data-icon="true"
                    data-persist="true"
                  >
                    <span class="dropdown__selected">Площадь обогрева</span>
                    <span data-clear>X</span>
                  </button>
                  <div class="dropdown__body">
                    <div class="field-drop-checkboxes">
                      <div class="field-checkbox">
                        <label class="field-checkbox__name">
                          <input
                            class="field-checkbox__input"
                            type="checkbox"
                            value="1"
                            name="area"
                          />
                          <span class="field-checkbox__name-text">500 </span>
                        </label>
                      </div>
                      <div class="field-checkbox">
                        <label class="field-checkbox__name">
                          <input
                            class="field-checkbox__input"
                            type="checkbox"
                            value="2"
                            name="area"
                          />
                          <span class="field-checkbox__name-text">1000000</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sorting">
              Сортировать по цене:
              <a href="" class="active">сначала дешевые</a>
              <a href="">сначала дороже</a>
            </div>
          </div>
          <div class="catalog__list">
            @@include('modules/catalog/_card-product_compare.html')
            @@include('modules/catalog/_card-product_compare.html')
            @@include('modules/catalog/_card-product_compare.html')
            @@include('modules/catalog/_card-product_compare.html')
            @@include('modules/catalog/_card-product_compare.html')
            @@include('modules/catalog/_card-product_compare.html')
            @@include('modules/catalog/_card-product_compare.html')
            @@include('modules/catalog/_card-product_compare.html')
            @@include('modules/catalog/_card-product_compare.html')
            @@include('modules/catalog/_card-product_compare.html')
            @@include('modules/catalog/_card-product_compare.html')
            @@include('modules/catalog/_card-product_compare.html')
          </div>
          <div class="catalog__bottom">
            @@include('modules/_pagination.html')
          </div>
        </div>
      </div>
    </main>
    @@include('modules/_footer.html')
    <script src="js/main.min.js"></script>
  </body>
</html>
