<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    @@include('modules/_header-site.html')
    <main class="page">
      <div class="page-head">
        <div class="container">
          <h1 class="page-head__title">Вопросы и ответы</h1>
          <div class="page-head__subtitle">
            Мы ответим на все интересующие вас вопросы. Ниже представлены
            наиболее популярные
          </div>
        </div>
      </div>
      <section class="page-section pt-0">
        <div class="container">
          <div class="accordion accordion--color-interval">
            <div class="accordion__section opened">
              <div class="accordion__head accordion__head-title">
                Где можно использовать обогреватели?
              </div>
              <div class="accordion__body">
                <div class="accordion__box">
                  Инфракрасные обогреватели Heliosa® Hi Design идеально подходят
                  для обогрева таких мест, как:
                  <ul>
                    <li>– Загородные дома и дачи</li>
                    <li>– Террасы ресторанов и кафе</li>
                    <li>– Места ожидания лифтов на многоуровневых паркингах</li>
                    <li>– Зимние сады и веранды</li>
                    <li>
                      – Места ожидания для охранников, консьержей, парковщиков,
                      дворецких
                    </li>
                    <li>– Зоны для курильщиков</li>
                    <li>– Пункты сбора на горнолыжных спусках</li>
                    <li>– Гаражи и кемпинги</li>
                    <li>
                      – Временные экспозиции, шоу-румы, открытые торговые
                      площадки
                    </li>
                    <li>– Дополнение к основному отоплению</li>
                    <li>– Зоны оказания медицинской помощи</li>
                    <li>– Зоопарки</li>
                    <li>– Места ожидания заказов</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion__section">
              <div class="accordion__head accordion__head-title">
                Безопасно ли использовать настенные обогреватели дома?
              </div>
              <div class="accordion__body">
                <div class="accordion__box">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum
                  assumenda commodi suscipit, a sequi rem quisquam nihil
                  mollitia. Harum est eaque fugit minima, sunt saepe dolorem eum
                  temporibus beatae fuga.
                </div>
              </div>
            </div>
            <div class="accordion__section">
              <div class="accordion__head accordion__head-title">
                Есть ли гарантия?
              </div>
              <div class="accordion__body">
                <div class="accordion__box">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum
                  assumenda commodi suscipit, a sequi rem quisquam nihil
                  mollitia. Harum est eaque fugit minima, sunt saepe dolorem eum
                  temporibus beatae fuga.
                </div>
              </div>
            </div>
            <div class="accordion__section">
              <div class="accordion__head accordion__head-title">
                Где можно использовать обогреватели?
              </div>
              <div class="accordion__body">
                <div class="accordion__box">
                  Инфракрасные обогреватели Heliosa® Hi Design идеально подходят
                  для обогрева таких мест, как:
                  <ul>
                    <li>– Загородные дома и дачи</li>
                    <li>– Террасы ресторанов и кафе</li>
                    <li>– Места ожидания лифтов на многоуровневых паркингах</li>
                    <li>– Зимние сады и веранды</li>
                    <li>
                      – Места ожидания для охранников, консьержей, парковщиков,
                      дворецких
                    </li>
                    <li>– Зоны для курильщиков</li>
                    <li>– Пункты сбора на горнолыжных спусках</li>
                    <li>– Гаражи и кемпинги</li>
                    <li>
                      – Временные экспозиции, шоу-румы, открытые торговые
                      площадки
                    </li>
                    <li>– Дополнение к основному отоплению</li>
                    <li>– Зоны оказания медицинской помощи</li>
                    <li>– Зоопарки</li>
                    <li>– Места ожидания заказов</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion__section">
              <div class="accordion__head accordion__head-title">
                Безопасно ли использовать настенные обогреватели дома?
              </div>
              <div class="accordion__body">
                <div class="accordion__box">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum
                  assumenda commodi suscipit, a sequi rem quisquam nihil
                  mollitia. Harum est eaque fugit minima, sunt saepe dolorem eum
                  temporibus beatae fuga.
                </div>
              </div>
            </div>
            <div class="accordion__section">
              <div class="accordion__head accordion__head-title">
                Есть ли гарантия?
              </div>
              <div class="accordion__body">
                <div class="accordion__box">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum
                  assumenda commodi suscipit, a sequi rem quisquam nihil
                  mollitia. Harum est eaque fugit minima, sunt saepe dolorem eum
                  temporibus beatae fuga.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      @@include('modules/_form-contacts.html')
    </main>
    @@include('modules/_footer.html')
    <script src="js/main.min.js"></script>
  </body>
</html>
