<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    @@include('modules/_header-site.html')
    <main class="page">
      <div class="page-head pb-0">
        <div class="container">
          <div class="container-narrow">
            <h1 class="page-head__title">Информация о гарантии</h1>
            <div class="page-head__subtitle page-head__subtitle--md">
              Гарантийные обязательства – гарантия не включает в себя замену
              инфракрасной лампы
            </div>
          </div>
        </div>
      </div>
      <section class="page-section pt-0">
        <div class="container">
          <div class="container-narrow">
            <article class="article">
              <ul class="list-dots">
                <li>
                  Срок действия гарантии – 12 месяцев, начиная с даты покупки
                  оборудования и прекращается по истечении указанного периода
                </li>
                <li>
                  Кассовый чек или другой установленный законодательством
                  фискальный документ подтверждает факт начала гарантийного
                  срока
                </li>
                <li>
                  В течение указанного срока гарантируется замена и ремонт
                  частей оборудования, подверженных нормальному износу
                  (например, лампа и т.п.) Гарантия не распространяется на
                  замену лампы
                </li>
                <li>
                  Гарантия не охватывает обслуживание самостоятельно вскрытого
                  оборудования или оборудования, поврежденного в результате
                  небрежного использования, транспортировки, его технической
                  эксплуатации некомпетентным персоналом, несоблюдения
                  инструкций по использованию, неправильной установки или
                  несоответствия действующим нормам пользования, установленным в
                  стране пользования
                </li>
                <li>Гарантия не предусматривает замены оборудования</li>
                <li>
                  Возможный ремонт, охватываемый гарантией, осуществляется
                  бесплатно, при условии поставки товара со склада компании Star
                  Progetti или со склада авторизированного дистрибьютора
                  компании
                </li>
                <li>
                  Расходы по транспортировке в таких случаях за счет
                  пользователя оборудования
                </li>
              </ul>
            </article>
          </div>
        </div>
      </section>
      @@include('modules/_form-contacts.html')
    </main>
    @@include('modules/_footer.html')
    <script src="js/main.min.js"></script>
  </body>
</html>
