<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    @@include('modules/_header-site.html')
    <main class="page">
      <div class="page-head">
        <div class="container">
          <div class="container-narrow">
            <h1 class="page-head__title">Рекомендации по монтажу</h1>
            <div class="page-head__subtitle page-head__subtitle--md">
              Инфракрасные обогреватели Heliosa® Hi Design — это
              высокоэффективные и экологичные системы обогрева. Чтобы достичь
              максимальной эффективности обогрева необходимо правильно подобрать
              модель по мощности, площади покрытия, высоте монтажа, степени
              влагозащиты, а так же правильно установить обогреватели. Одним из
              важнейших фактором эффективности использования инфракрасных
              обогревателей является равномерность распределения.
            </div>
            <p>
              Важно, чтобы область покрытия обогревалась максимально равномерно.
              Для этого устанавливайте обогреватели под углом в 45° и с
              наложением рабочих областей. Более того, вертикальное отопление с
              потолка не рекомендуется, так как будет обогреваться только
              верхняя часть тела, что будет вызывать дискомфорт. В гостиничном
              секторе следует помнить, что количество излучаемого тепла прямо
              пропорционально длительности пребывания клиента в гостинице. Более
              того, количество теплового излучения будет больше в местах с
              высоким уровнем влажности. Информация, необходимая для подбора
              инфракрасных обогревателей Heliosa Hi Design, собрана в таблице на
              странице «Описание и характеристики».
            </p>
          </div>
        </div>
      </div>
      <section class="page-section pt-0">
        <div class="container">
          <div class="container-narrow">
            <article class="article">
              <h3 class="f-28">Варианты монтажа обогревателей</h3>
              <ul class="list-number list-number--v">
                <li data-num="01">
                  <h3>Настенная установка</h3>
                  <p>
                    Это наиболее частый тип монтажа, позволяющий установить
                    прибор не нарушая конструкции стен. Расположение на стене,
                    подобно светильнику, является оптимальным для обогрева.
                    Желательно, чтобы установка состояла из нескольких
                    источников для равномерного распределения без теней, а не из
                    одного большого источника. Все модели поставляются с
                    кронштейном для данного типа установки. Модели серий 996,
                    997, 998 и 999 предназначены только для настенного монтажа.
                  </p>
                </li>
                <li data-num="02">
                  <div class="list-number__title">
                    Установка на мобильных стойках
                  </div>
                  <p>
                    Все модели инфракрасных обогревателей Heliosa® Hi Design, за
                    исключением модели 88, могут монтироваться на передвижные
                    напольные стойки Scala или Giraffa. Модель 993 поставляется
                    с трубчатой стойкой. Модели 990, 991, 992, 994 и 995
                    поставляются в комплекте со стойками Scala или Giraffa.
                  </p>
                </li>
                <li data-num="03">
                  <div class="list-number__title">
                    Установка под зонтами и навесами
                  </div>
                  <p>
                    Для такого типа установки существуют специальные модели и
                    соответствующие монтажные крепежи для каждой модели. Для
                    установки под зонтами идеально подходят модели серии 11
                    благодаря компактному корпусу.
                  </p>
                </li>
                <li data-num="04">
                  <div class="list-number__title">
                    Защитные решетки из нержавеющей стали
                  </div>
                  <p>
                    Все приборы оснащены защитными решетками, которые должны
                    быть установлены, если прибор устанавливается на высоте ниже
                    2 м или есть возможность непосредственного контакта
                    посетителей или персонала с нагревательным элементом.
                  </p>
                </li>
              </ul>
            </article>
          </div>
        </div>
      </section>
      @@include('modules/_form-contacts.html')
    </main>
    @@include('modules/_footer.html')
    <script src="js/main.min.js"></script>
  </body>
</html>
