<!DOCTYPE html>
<html>
  <body>
    @@include('./modules/_header-site.html')
    <div class="field-radio">
      <label class="field-radio__name">
        <input class="field-radio__input" type="radio" checked />
        <span class="field-radio__name-text"
          >Одинокий радиобаттон такой одинокий, но с длинным... текстом внутри
          label-а. Далеко-далеко за словесными горами в стране, гласных и
          согласных живут рыбные тексты. Жизни, свое рыбного решила. Точках
          семантика, решила оксмокс переписывается толку безопасную журчит
          рыбными, рекламных несколько осталось свой! Знаках, дороге
          грамматики.</span
        >
      </label>
    </div>
  </body>
</html>
