<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/vendor/sal.css" />
    <link rel="stylesheet" href="css/vendor/splide-core.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    @@include('modules/_header-site.html')
    <main class="page">
      <section class="product-hero">
        <div class="product-hero__inner">
          <div
            class="product-hero__bg"
            data-sal="fade"
            data-delay="1000"
            data-sal-duration="2000"
          >
            <picture>
              <source
                srcset="img/content/product-hero-img.webp"
                type="image/webp"
              />
              <source
                srcset="img/content/product-hero-img.jpg"
                type="image/jpeg"
              />
              <img src="img/content/product-hero-img.jpg" alt="" />
            </picture>
          </div>
          <div class="product-hero__content">
            <div class="container">
              <form action="" class="product-hero__form">
                <div class="product-hero__narrow">
                  <h1 class="product-hero__title">Heliosa 44 2kW/IPX5/WHT</h1>
                  <span class="vendor-code">Арт. 208177657456</span>
                  <p>
                    Регулируемая модель для установки под зонтами со
                    специальными крепежами, на другие наружные структуры, на
                    стены снаружи помещений и в условиях открытых пространств.
                  </p>
                  <div class="colors">
                    <span>цвет</span>
                    <ul>
                      <li class="colors__item colors__item--white"></li>
                      <li class="colors__item colors__item--black"></li>
                    </ul>
                  </div>
                  <div class="product-hero__price">
                    <span>15 000 руб.</span>
                    <a href="" class="btn">Купить онлайн</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="product-hero__advant">
          <div class="container">
            <ul class="advant">
              <li class="advant__item advant__item--official">
                Официальный <br />
                представитель в России
              </li>
              <li class="advant__item advant__item--location">
                Офис и склад в Москве <br />
                и Санкт–Петербурге
              </li>
              <li class="advant__item advant__item--delivery">
                Удобная доставка <br />
                по всей России
              </li>
              <li class="advant__item advant__item--sert">
                Наличие необходимых <br />
                сертификатов
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="page-section">
        <div class="container">
          <div class="tiles tiles--revers">
            <div class="tile">
              <div class="tile__img tile__img--square">
                <picture data-sal="slide-up-left" data-sal-duration="1000">
                  <source
                    srcset="img/content/product-page-img-1.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="img/content/product-page-img-1.jpg"
                    type="image/jpeg"
                  />
                  <img
                    src="img/content/product-page-img-1.png"
                    alt="Водостойкость"
                  />
                </picture>
              </div>
              <div
                class="tile__text"
                data-sal="slide-up"
                data-sal-duration="1000"
              >
                <div class="tile__title">Водостойкость</div>
                <p>
                  Helios 44 имеет индекс защиты IPX5. Что означает надежную
                  защиту обогревателя от дождя и брызг воды
                </p>
              </div>
            </div>
            <div class="tile">
              <div class="tile__img tile__img--square">
                <picture data-sal="slide-up-right" data-sal-duration="1000">
                  <source
                    srcset="img/content/product-page-img-2.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="img/content/product-page-img-2.jpg"
                    type="image/jpeg"
                  />
                  <img src="img/content/product-page-img-2.png" alt="Обогрев" />
                </picture>
              </div>
              <div
                class="tile__text"
                data-sal="slide-up"
                data-sal-duration="1000"
              >
                <div class="tile__title">Обогрев</div>
                <p>
                  Примерная площадь обогрева 20м2. Уровень обогрева зависит от
                  окружающей среды, условий и в зависимости от количества
                  установленных обогревателей
                </p>
              </div>
            </div>
            <div class="tile">
              <div class="tile__img tile__img--square">
                <picture data-sal="slide-up-left" data-sal-duration="1000">
                  <source
                    srcset="img/content/product-page-img-1.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="img/content/product-page-img-1.jpg"
                    type="image/jpeg"
                  />
                  <img
                    src="img/content/product-page-img-1.png"
                    alt="Водостойкость"
                  />
                </picture>
              </div>
              <div
                class="tile__text"
                data-sal="slide-up"
                data-sal-duration="1000"
              >
                <div class="tile__title">Водостойкость</div>
                <p>
                  Helios 44 имеет индекс защиты IPX5. Что означает надежную
                  защиту обогревателя от дождя и брызг воды
                </p>
              </div>
            </div>
            <div class="tile">
              <div class="tile__img tile__img--square">
                <picture data-sal="slide-up-right" data-sal-duration="1000">
                  <source
                    srcset="img/content/product-page-img-2.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="img/content/product-page-img-2.jpg"
                    type="image/jpeg"
                  />
                  <img src="img/content/product-page-img-2.png" alt="Обогрев" />
                </picture>
              </div>
              <div
                class="tile__text"
                data-sal="slide-up"
                data-sal-duration="1000"
              >
                <div class="tile__title">Обогрев</div>
                <p>
                  Примерная площадь обогрева 20м2. Уровень обогрева зависит от
                  окружающей среды, условий и в зависимости от количества
                  установленных обогревателей
                </p>
              </div>
            </div>
            <div class="tile">
              <div class="tile__img tile__img--square">
                <picture data-sal="slide-up-left" data-sal-duration="1000">
                  <source
                    srcset="img/content/product-page-img-1.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="img/content/product-page-img-1.jpg"
                    type="image/jpeg"
                  />
                  <img src="img/content/product-page-img-1.png" alt="Обогрев" />
                </picture>
              </div>
              <div
                class="tile__text"
                data-sal="slide-up"
                data-sal-duration="1000"
              >
                <div class="tile__title">Обогрев</div>
                <p>
                  Примерная площадь обогрева 20м2. Уровень обогрева зависит от
                  окружающей среды, условий и в зависимости от количества
                  установленных обогревателей
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="page-section page-section--black">
        <div class="container">
          <div class="page-section__head">
            <h2 class="f-white">Фотографии</h2>
          </div>
        </div>
        <div class="js-photo-gallery photo-gallery splide">
          <div class="splide__track">
            <div class="splide__list">
              <div class="splide__slide">
                <img src="https://picsum.photos/seed/picsum/1010/580" alt="" />
              </div>
              <div class="splide__slide">
                <img src="https://picsum.photos/seed/picsum/1010/580" alt="" />
              </div>
              <div class="splide__slide">
                <img src="https://picsum.photos/seed/picsum/1010/580" alt="" />
              </div>
            </div>
          </div>
          <div class="splide__arrows">
            <div class="container">
              <div class="splide__arrows-inner">
                <button
                  class="splide__arrow splide__arrow--prev splide__arrow--white"
                ></button>
                <span class="splide__count"></span>
                <button
                  class="splide__arrow splide__arrow--next splide__arrow--white"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-section page-section--gray">
        <div class="container">
          <div class="product-spec">
            <div class="product-spec__info">
              <h2>Характеристики</h2>
              <div>
                <ul class="spec-list spec-list--cols-1">
                  <li>
                    <span class="spec-list__label">Мощность</span>
                    <div class="spec-list__cells">
                      <span>2000 Вт</span>
                    </div>
                  </li>
                  <li>
                    <span class="spec-list__label">Класс влагозащиты</span>
                    <div class="spec-list__cells">
                      <span>IPX5</span>
                    </div>
                  </li>
                  <li>
                    <span class="spec-list__label">Цвет</span>
                    <div class="spec-list__cells">
                      <span>белый (Carrara, RAL 9016 )</span>
                    </div>
                  </li>
                  <li>
                    <span class="spec-list__label">Обогреваемая площадь</span>
                    <div class="spec-list__cells">
                      <span>20–25 м2</span>
                    </div>
                  </li>
                  <li data-spec-stop="true">
                    <span class="spec-list__label">Высота установки</span>
                    <div class="spec-list__cells">
                      <span>2,30–2,50 м</span>
                    </div>
                  </li>
                  <li>
                    <span class="spec-list__label">Обогреваемая площадь</span>
                    <div class="spec-list__cells">
                      <span>20–25 м2</span>
                    </div>
                  </li>
                  <li>
                    <span class="spec-list__label">Высота установки</span>
                    <div class="spec-list__cells">
                      <span>2,30–2,50 м</span>
                    </div>
                  </li>
                </ul>
                <button class="spec-list__btn btn btn--link">
                  Все характиристики
                </button>
              </div>
              <!-- <div class="spec-list">
                <ul>
                  <li>
                    <span>Мощность</span>
                    <span>2000 Вт</span>
                  </li>
                  <li>
                    <span>Класс влагозащиты</span>
                    <span>IPX5</span>
                  </li>
                  <li>
                    <span>Цвет</span>
                    <span>белый (Carrara, RAL 9016)</span>
                  </li>
                  <li>
                    <span>Обогреваемая площадь</span>
                    <span>20–25 м2</span>
                  </li>
                  <li data-spec-stop="true">
                    <span>Высота установки</span>
                    <span>2,30–2,50 м</span>
                  </li>
                  <li>
                    <span>Обогреваемая площадь</span>
                    <span>20–25 м2</span>
                  </li>
                  <li>
                    <span>Высота установки</span>
                    <span>2,30–2,50 м</span>
                  </li>
                </ul>
                <button class="spec-list__btn btn btn--link">
                  Все характиристики
                </button>
              </div> -->
              <a href="" class="link-md">Посмотреть инструкцию</a>
            </div>
            <div class="product-spec__img">
              <img src="img/content/spec-img.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section class="page-section">
        <div class="container">
          <div class="page-section__head">
            <h2>С этим товаром покупают</h2>
          </div>
          <div class="recommends">
            <div class="js-gallery-recommends splide">
              <div class="splide__track">
                <div class="splide__list">
                  <div class="splide__slide">
                    @@include('modules/catalog/_card-product.html')
                  </div>
                  <div class="splide__slide">
                    @@include('modules/catalog/_card-product.html')
                  </div>
                  <div class="splide__slide">
                    @@include('modules/catalog/_card-product.html')
                  </div>
                  <div class="splide__slide">
                    @@include('modules/catalog/_card-product.html')
                  </div>
                </div>
              </div>
              <div class="splide__arrows">
                <button
                  class="splide__arrow splide__arrow--black splide__arrow--prev"
                ></button>
                <span class="splide__count"></span>
                <button
                  class="splide__arrow splide__arrow--black splide__arrow--next"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    @@include('modules/_footer.html')
    <script src="js/vendor/sal.js"></script>
    <script src="js/vendor/tabbis.min.js"></script>
    <script src="js/vendor/splide.min.js"></script>
    <script src="js/main.min.js"></script>
    <script>
      // init scroll animation
      sal();

      // init gallery recommends
      let galleryRecommend = new Splide('.js-gallery-recommends', {
        // perPage: 3,
        // perMove: 1,
        gap: 30,
        rewind: true,
        autoplay: false,
        pagination: false,
        // type: 'loop',
        perPage: 3,
        perMove: 1,
      }).mount();

      galleryRecommend.on('mounted moved', function () {
        let splideCount = galleryRecommend.root.querySelector('.splide__count');
        splideCount.textContent = `${galleryRecommend.index + 1}/${
          galleryRecommend.length
        }`;
      });
      galleryRecommend.mount();
    </script>
    <script>
      // 1200 = ширина общего контейнера
      let sliderPhotos = new Splide('.js-photo-gallery', {
        perPage: 1,
        perMove: 1,
        gap: 65,
        pagination: false,
        lazyLoad: 'nearby',
        autoWidth: true,
        padding: {
          left: (window.screen.width - 1200) / 2 + 'px',
          right: (window.screen.width - 1200) / 2 + 'px',
        },
        breakpoints: {
          1240: {
            autoWidth: false,
            padding: {
              // left: (window.screen.width - 1000) / 2 + 'px',
              right: 220,
            },
            gap: 50,
          },
          991: {
            autoWidth: false,
            padding: {
              // left: (window.screen.width - 1000) / 2 + 'px',
              right: 165,
            },
            gap: 30,
          },
          639: {
            autoWidth: false,
            padding: {
              // left: (window.screen.width - 1000) / 2 + 'px',
              right: 80,
            },
            gap: 15,
          },
        },
      });

      // sliderPhotos.on('autoplay:playing', function (rate) {
      //   console.log(rate); // 0-1
      // });

      sliderPhotos.on('mounted moved', function () {
        let splideCount = sliderPhotos.root.querySelector('.splide__count');
        splideCount.textContent = `${sliderPhotos.index + 1}/${
          sliderPhotos.length
        }`;
      });
      sliderPhotos.mount();
    </script>
  </body>
</html>
