<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/vendor/splide-core.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    <div class="page-wrapper">
      @@include('modules/_header-store.html')
      <main class="page">
        <div class="page-head">
          <div class="container">
            <div class="container-narrow">
              <h1 class="page-head__title">Мой кабинет</h1>
              <div class="page-head__subtitle">
                Хотите сменить аккаунт? <a href="">Выйти из личного кабинета</a>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="profile">
            <div class="profile__menu">
              <a href="profile-data.html" class="active">Мои данные</a>
              <a href="profile-orders.html">Мои заказы</a>
            </div>

            <div class="profile__content">
              <div class="profile__data">
                <form action="" class="form-editable">
                  <div class="form-editable__group" data-form-edit>
                    <div class="form-editable__head">
                      <div class="form-editable__title">Личные данные</div>
                      <a href="" class="form-editable-trigger">Редактировать</a>
                      <button type="submit" class="form-editable-save">
                        Сохранить
                      </button>
                    </div>
                    <div class="form-editable__field">
                      <div class="form-editable__label">Имя</div>
                      <label class="field-text">
                        <span class="field-text__input-wrap">
                          <span class="field-text__help-text"
                            >Поле обязательно для заполнения</span
                          >
                          <input
                            class="field-text__input"
                            type="text"
                            placeholder="Имя*"
                            value="Алексей"
                            required
                            readonly
                          />
                        </span>
                      </label>
                    </div>
                    <div class="form-editable__field">
                      <div class="form-editable__label">Фамилия</div>
                      <label class="field-text">
                        <span class="field-text__input-wrap">
                          <span class="field-text__help-text"
                            >Поле обязательно для заполнения</span
                          >
                          <input
                            class="field-text__input"
                            type="text"
                            placeholder="Фамилия*"
                            value="Иванов"
                            required
                            readonly
                          />
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="form-editable__group" data-form-edit>
                    <div class="form-editable__head">
                      <div class="form-editable__title">Контакты</div>
                      <a href="" class="form-editable-trigger">Редактировать</a>
                      <button type="submit" class="form-editable-save">
                        Сохранить
                      </button>
                    </div>
                    <div class="form-editable__field">
                      <div class="form-editable__label">Телефон</div>
                      <label class="field-text">
                        <span class="field-text__input-wrap">
                          <span class="field-text__help-text"
                            >Поле обязательно для заполнения</span
                          >
                          <input
                            class="field-text__input"
                            type="text"
                            placeholder="Телефон*"
                            value="+7 (900) 987-00-12"
                            required
                            readonly
                          />
                        </span>
                      </label>
                    </div>
                    <div class="form-editable__field">
                      <div class="form-editable__label">E–mail</div>
                      <label class="field-text">
                        <span class="field-text__input-wrap">
                          <span class="field-text__help-text"
                            >Поле обязательно для заполнения</span
                          >
                          <input
                            class="field-text__input"
                            type="email"
                            placeholder="E–mail*"
                            value="ivanov.alexey@mail.ru"
                            required
                            readonly
                          />
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="form-editable__group" data-form-edit>
                    <div class="form-editable__head">
                      <div class="form-editable__title">Пароль</div>
                      <a href="" class="form-editable-trigger">Редактировать</a>
                      <button type="submit" class="form-editable-save">
                        Сохранить
                      </button>
                    </div>
                    <div
                      class="form-editable__field form-editable__field--password"
                    >
                      <label class="field-text">
                        <span class="field-text__input-wrap">
                          <span class="field-text__help-text"
                            >Поле обязательно для заполнения</span
                          >
                          <input
                            class="field-text__input"
                            type="password"
                            placeholder="Новый пароль*"
                            value=""
                            required
                            readonly
                          />
                        </span>
                      </label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      @@include('modules/_footer.html')
    </div>
    <script src="js/main.min.js"></script>
    <script>
      let formEditTriggers = document.querySelectorAll(
        '.form-editable-trigger'
      );
      formEditTriggers.forEach(function (btn) {
        btn.addEventListener('click', function (e) {
          e.preventDefault();
          let target = e.target;
          let parent = target.closest('[data-form-edit]');
          parent.classList.add('editing');

          inputReadOnlyToggle(parent);
        });
      });

      function inputReadOnlyToggle(container) {
        if (!container) {
          return false;
        }
        let inputs = container.querySelectorAll('input');
        inputs.forEach(function (input) {
          input.toggleAttribute('readonly');
        });
      }
    </script>
  </body>
</html>
