<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/vendor/splide-core.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    @@include('modules/_header-store.html')
    <main class="page">
      <div class="page-head">
        <div class="container">
          <div class="container-narrow">
            <h1 class="page-head__title">Мои заказы</h1>
            <div class="page-head__subtitle">
              Хотите сменить аккаунт? <a href="">Выйти из личного кабинета</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="profile">
          <div class="profile__menu">
            <a href="profile-data.html">Мои данные</a>
            <a href="profile-orders.html" class="active">Мои заказы</a>
          </div>

          <div class="profile__content">
            <div class="profile__orders">
              <div class="profile__orders-menu" data-tabs>
                <button class="btn btn--white btn--outline">
                  Заказы в обработке
                </button>
                <button class="btn btn--white btn--outline">
                  Заказы в архиве
                </button>
              </div>

              <div class="profile__orders-content" data-panes>
                <div>
                  <div class="client-order">
                    <div class="client-order__head">
                      <span>Номер заказа</span>
                      <span>Дата заказа</span>
                      <span>К оплате</span>
                      <span>Доставка</span>
                      <span>Где заказ</span>
                    </div>
                    <div class="client-order__item">
                      <div class="client-order__cell" data-label="Номер заказа">
                        № 1098 0023 4566
                      </div>
                      <div class="client-order__cell" data-label="Дата заказа">
                        16.10.2020
                      </div>
                      <div class="client-order__cell" data-label="К оплате">
                        <strong>58 300 ₽</strong>
                      </div>
                      <div class="client-order__cell" data-label="Доставка">
                        23.10.2020
                      </div>
                      <div class="client-order__cell" data-label="Где заказ">
                        <span
                          >Готов к выдаче в <br />
                          пункте самовывоза</span
                        >
                        <div class="client-order__link">
                          <a href="profile-history-order.html"
                            >Подробнее о заказе</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="client-order">
                    <div class="client-order__head">
                      <span>Номер заказа</span>
                      <span>Сумма заказа</span>
                      <span>Сумма товаров</span>
                      <span>Доставлен</span>
                      <span>Статус</span>
                    </div>
                    <div class="client-order__item">
                      <div class="client-order__cell" data-label="Номер заказа">
                        № 1098 0023 4566
                      </div>
                      <div class="client-order__cell" data-label="Сумма заказа">
                        58 300 ₽
                      </div>
                      <div
                        class="client-order__cell"
                        data-label="Сумма товаров"
                      >
                        58 000 ₽
                      </div>
                      <div class="client-order__cell" data-label="Доставлен">
                        15.09.2020
                      </div>
                      <div class="client-order__cell" data-label="Статус">
                        <span>Доставлен</span>
                        <div class="client-order__link">
                          <a href="profile-history-order.html"
                            >Подробнее о заказе</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="client-order__item">
                      <div class="client-order__cell" data-label="Номер заказа">
                        № 1098 0023 4566
                      </div>
                      <div class="client-order__cell" data-label="Сумма заказа">
                        58 300 ₽
                      </div>
                      <div
                        class="client-order__cell"
                        data-label="Сумма товаров"
                      >
                        58 000 ₽
                      </div>
                      <div class="client-order__cell" data-label="Доставлен">
                        15.09.2020
                      </div>
                      <div class="client-order__cell" data-label="Статус">
                        <span>Доставлен</span>
                        <div class="client-order__link">
                          <a href="profile-history-order.html"
                            >Подробнее о заказе</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="client-order__item">
                      <div class="client-order__cell" data-label="Номер заказа">
                        № 1098 0023 4566
                      </div>
                      <div class="client-order__cell" data-label="Сумма заказа">
                        58 300 ₽
                      </div>
                      <div
                        class="client-order__cell"
                        data-label="Сумма товаров"
                      >
                        58 000 ₽
                      </div>
                      <div class="client-order__cell" data-label="Доставлен">
                        15.09.2020
                      </div>
                      <div class="client-order__cell" data-label="Статус">
                        <span>Доставлен</span>
                        <div class="client-order__link">
                          <a href="profile-history-order.html"
                            >Подробнее о заказе</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    @@include('modules/_footer.html')
    <script src="js/main.min.js"></script>
    <script>
      let formEditTriggers = document.querySelectorAll(
        '.form-editable-trigger'
      );
      formEditTriggers.forEach(function (btn) {
        btn.addEventListener('click', function (e) {
          e.preventDefault();
          let target = e.target;
          let parent = target.closest('[data-form-edit]');
          parent.classList.add('editing');

          inputReadOnlyToggle(parent);
        });
      });

      function inputReadOnlyToggle(container) {
        if (!container) {
          return false;
        }
        let inputs = container.querySelectorAll('input');
        inputs.forEach(function (input) {
          input.toggleAttribute('readonly');
        });
      }
    </script>
  </body>
</html>
