<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/vendor/sal.css" />
    <link rel="stylesheet" href="css/vendor/splide-core.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    @@include('modules/_header-site.html')
    <main class="page">
      <div class="catalog-nav medium">
        <div class="container">
          <div class="catalog-nav__wrap">
            <div class="catalog-nav__name">Heliosa 44</div>
            <ul class="catalog-nav__list">
              <li><a href="" class="active">Heliosa 44 1,5kW/IPX5/WHT</a></li>
              <li><a href="">Heliosa 44 2kW/IPX5/WHT</a></li>
              <li><a href="">Heliosa 44 2kW/IPX5/WHT/MOB</a></li>
              <li><a href="">Heliosa 44 2kW/IPX5/BLK/MOB</a></li>
            </ul>
          </div>
        </div>
      </div>
      <section class="product-hero">
        <div class="product-hero__inner">
          <div
            class="product-hero__bg"
            data-sal="fade"
            data-delay="1000"
            data-sal-duration="2000"
          >
            <picture>
              <source
                srcset="img/content/product-hero-img.webp"
                type="image/webp"
              />
              <source
                srcset="img/content/product-hero-img.jpg"
                type="image/jpeg"
              />
              <img
                src="img/content/product-hero-img.jpg"
                class="product-hero__bg--desktop"
                alt=""
              />
              <img
                src="img/content/product-hero-img-mobile.jpg"
                class="product-hero__bg--mobile"
                alt=""
              />
            </picture>
          </div>
          <div class="product-hero__content">
            <div class="container">
              <form action="" class="product-hero__form">
                <div class="product-hero__narrow">
                  <div class="field-checkbox">
                    <label class="field-checkbox__name">
                      <input
                        class="field-checkbox__input"
                        type="checkbox"
                        value=""
                        name="compare"
                      />
                      <span class="field-checkbox__name-text">Сравнить</span>
                    </label>
                  </div>
                  <h1 class="product-hero__title">Heliosa 44 2kW/IPX5/WHT</h1>
                  <span class="vendor-code">Арт. 208177657456</span>
                  <div class="product-hero__text">
                    Регулируемая модель для установки под зонтами со
                    специальными крепежами, на другие наружные структуры, на
                    стены снаружи помещений и в условиях открытых пространств.
                  </div>
                  <div class="product-hero__colors">
                    <span>цвет</span>
                    <div class="field-colors">
                      <label class="field-colors__item">
                        <input type="radio" name="color" checked />
                        <span
                          class="field-colors__check field-colors__check--white"
                        ></span>
                      </label>
                      <label class="field-colors__item">
                        <input type="radio" name="color" />
                        <span
                          class="field-colors__check field-colors__check--black"
                        ></span>
                      </label>
                    </div>
                  </div>
                  <div class="product-hero__price">
                    <span>15 000 руб.</span>
                    <a href="" class="btn btn--white">Купить онлайн</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="product-hero__advant">
          <div class="container">
            <ul class="advant">
              <li class="advant__item">
                <span class="advant__icon">
                  <svg width="33" height="33">
                    <use xlink:href="img/icons.svg#icon-star"></use>
                  </svg>
                </span>

                Официальный <br />
                представитель в России
              </li>
              <li class="advant__item">
                <span class="advant__icon">
                  <svg width="19" height="28">
                    <use xlink:href="img/icons.svg#icon-pin"></use>
                  </svg>
                </span>

                Офис и склад в Москве <br />
                и Санкт–Петербурге
              </li>
              <li class="advant__item">
                <span class="advant__icon">
                  <svg width="34" height="24">
                    <use xlink:href="img/icons.svg#icon-delivery"></use>
                  </svg>
                </span>

                Удобная доставка <br />
                по всей России
              </li>
              <li class="advant__item">
                <span class="advant__icon">
                  <svg width="22" height="28">
                    <use xlink:href="img/icons.svg#icon-sert"></use>
                  </svg>
                </span>

                Наличие необходимых <br />
                сертификатов
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="page-section">
        <div class="container">
          <div class="tiles tiles--square tiles--product-advant tiles--revers">
            <div class="tile">
              <div class="tile__img tile__img--square">
                <picture data-sal="slide-up-left" data-sal-duration="1000">
                  <source
                    srcset="img/content/product-page-img-1.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="img/content/product-page-img-1.jpg"
                    type="image/jpeg"
                  />
                  <img
                    src="img/content/product-page-img-1.png"
                    alt="Водостойкость"
                  />
                </picture>
              </div>
              <div
                class="tile__text"
                data-sal="slide-up"
                data-sal-duration="1000"
              >
                <div class="tile__title">Водостойкость</div>
                <p>
                  Helios 44 имеет индекс защиты IPX5. Что означает надежную
                  защиту обогревателя от дождя и брызг воды
                </p>
              </div>
            </div>
            <div class="tile">
              <div class="tile__img tile__img--square">
                <picture data-sal="slide-up-right" data-sal-duration="1000">
                  <source
                    srcset="img/content/product-page-img-2.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="img/content/product-page-img-2.jpg"
                    type="image/jpeg"
                  />
                  <img src="img/content/product-page-img-2.png" alt="Обогрев" />
                </picture>
              </div>
              <div
                class="tile__text"
                data-sal="slide-up"
                data-sal-duration="1000"
              >
                <div class="tile__title">Обогрев</div>
                <p>
                  Примерная площадь обогрева 20м2. Уровень обогрева зависит от
                  окружающей среды, условий и в зависимости от количества
                  установленных обогревателей
                </p>
              </div>
            </div>
            <div class="tile">
              <div class="tile__img tile__img--square">
                <picture data-sal="slide-up-left" data-sal-duration="1000">
                  <source
                    srcset="img/content/product-page-img-1.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="img/content/product-page-img-1.jpg"
                    type="image/jpeg"
                  />
                  <img
                    src="img/content/product-page-img-1.png"
                    alt="Водостойкость"
                  />
                </picture>
              </div>
              <div
                class="tile__text"
                data-sal="slide-up"
                data-sal-duration="1000"
              >
                <div class="tile__title">Водостойкость</div>
                <p>
                  Helios 44 имеет индекс защиты IPX5. Что означает надежную
                  защиту обогревателя от дождя и брызг воды
                </p>
              </div>
            </div>
            <div class="tile">
              <div class="tile__img tile__img--square">
                <picture data-sal="slide-up-right" data-sal-duration="1000">
                  <source
                    srcset="img/content/product-page-img-2.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="img/content/product-page-img-2.jpg"
                    type="image/jpeg"
                  />
                  <img src="img/content/product-page-img-2.png" alt="Обогрев" />
                </picture>
              </div>
              <div
                class="tile__text"
                data-sal="slide-up"
                data-sal-duration="1000"
              >
                <div class="tile__title">Обогрев</div>
                <p>
                  Примерная площадь обогрева 20м2. Уровень обогрева зависит от
                  окружающей среды, условий и в зависимости от количества
                  установленных обогревателей
                </p>
              </div>
            </div>
            <div class="tile">
              <div class="tile__img tile__img--square">
                <picture data-sal="slide-up-left" data-sal-duration="1000">
                  <source
                    srcset="img/content/product-page-img-1.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="img/content/product-page-img-1.jpg"
                    type="image/jpeg"
                  />
                  <img src="img/content/product-page-img-1.png" alt="Обогрев" />
                </picture>
              </div>
              <div
                class="tile__text"
                data-sal="slide-up"
                data-sal-duration="1000"
              >
                <div class="tile__title">Обогрев</div>
                <p>
                  Примерная площадь обогрева 20м2. Уровень обогрева зависит от
                  окружающей среды, условий и в зависимости от количества
                  установленных обогревателей
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="page-section page-section--black">
        <div class="container">
          <div class="page-section__head">
            <h2 class="f-white">Фотографии</h2>
          </div>
        </div>
        <div class="js-photo-gallery photo-gallery splide">
          <div class="splide__track">
            <div class="splide__list">
              <div class="splide__slide">
                <img src="https://picsum.photos/seed/picsum/1010/580" alt="" />
              </div>
              <div class="splide__slide">
                <img src="https://picsum.photos/seed/picsum/1010/580" alt="" />
              </div>
              <div class="splide__slide">
                <img src="https://picsum.photos/seed/picsum/1010/580" alt="" />
              </div>
            </div>
          </div>
          <div class="splide__arrows">
            <div class="container">
              <div class="splide__arrows-inner">
                <button
                  class="splide__arrow splide__arrow--prev splide__arrow--white"
                ></button>
                <button
                  class="splide__arrow splide__arrow--next splide__arrow--white"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-section">
        <div class="container">
          <div class="product-spec">
            <div class="product-spec__info">
              <h2 class="product-spec__title">Характеристики</h2>
              <ul class="product-spec__list">
                <li>
                  <span>Мощность</span>
                  <span>2000 Вт</span>
                </li>
                <li>
                  <span>Класс влагозащиты</span>
                  <span>IPX5</span>
                </li>
                <li>
                  <span>Цвет</span>
                  <span>белый (Carrara, RAL 9016 )</span>
                </li>
                <li>
                  <span>Обогреваемая площадь</span>
                  <span>20–25 м2</span>
                </li>
                <li data-spec-stop="true">
                  <span>Высота установки</span>
                  <span>2,30–2,50 м</span>
                </li>
                <li>
                  <span>Обогреваемая площадь</span>
                  <span>20–25 м2</span>
                </li>
                <li>
                  <span>Высота установки</span>
                  <span>2,30–2,50 м</span>
                </li>
              </ul>
              <button class="product-spec__btn btn btn--link">
                Все характиристики
              </button>
              <p><a href="" class="link-md">Посмотреть инструкцию</a></p>
            </div>
            <div class="product-spec__img">
              <img src="img/content/spec-img.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section class="example-colors">
        <div class="container">
          <div class="example-colors__inner">
            <div class="example-colors__preview">
              <img src="img/content/product-black.png" data-color-to alt="" />
            </div>
            <div class="example-colors__text">
              <h2 class="example-colors__title">Цветовые варианты</h2>
              <p>
                Модель представлена в двух цветах. Подберите цвет, который
                подойдет для вашего интерьера
              </p>
              <div class="example-colors__check">
                <div class="field-colors">
                  <label class="field-colors__item">
                    <input
                      type="radio"
                      name="color"
                      data-color-from="img/content/product-white.png"
                      checked
                    />
                    <span
                      class="field-colors__check field-colors__check--white"
                    ></span>
                    <span class="field-colors__name">Белый</span>
                  </label>
                  <label class="field-colors__item">
                    <input
                      type="radio"
                      name="color"
                      data-color-from="img/content/product-black.png"
                    />
                    <span
                      class="field-colors__check field-colors__check--black"
                    ></span>
                    <span class="field-colors__name">Черный</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="recommends">
        <div class="container">
          <div class="recommends__title">
            <h2>С этим товаром покупают</h2>
          </div>
          <div class="recommends__slider">
            <div class="js-gallery-recommends splide">
              <div class="splide__track">
                <div class="splide__list">
                  <div class="splide__slide">
                    @@include('modules/catalog/_card-product_compare.html')
                  </div>
                  <div class="splide__slide">
                    <div class="card">
                      <div class="card__compare">
                        <div class="field-checkbox">
                          <label class="field-checkbox__name">
                            <input
                              class="field-checkbox__input"
                              type="checkbox"
                              value=""
                              name="compare"
                            />
                            <span class="field-checkbox__name-text"
                              >Сравнить</span
                            >
                          </label>
                        </div>
                      </div>
                      <div class="card__img">
                        <a href="#"
                          ><img src="img/content/product-1.png" alt=""
                        /></a>
                      </div>
                      <div class="card__content">
                        <div class="card__name">
                          <a href="#">Heliosa 44 2kW/IPX5/WHT</a>
                        </div>
                        <div class="card__price">
                          <span class="old-price">24 500 ₽</span>14 500 ₽
                        </div>
                        <span class="card__discount">-15%</span>
                      </div>
                      <div class="card__buttons">
                        <a href="" class="btn btn--sm">Купить</a>
                      </div>
                    </div>
                  </div>
                  <div class="splide__slide">
                    @@include('modules/catalog/_card-product_compare.html')
                  </div>
                  <div class="splide__slide">
                    @@include('modules/catalog/_card-product_compare.html')
                  </div>
                </div>
              </div>
              <div class="splide__arrows">
                <button
                  class="splide__arrow splide__arrow--black splide__arrow--prev"
                ></button>
                <button
                  class="splide__arrow splide__arrow--black splide__arrow--next"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </section>
      @@include('modules/_form-contacts.html')
    </main>
    @@include('modules/_footer.html')
    <script src="js/vendor/sal.js"></script>
    <script src="js/main.min.js"></script>
    <script>
      // init scroll animation
      sal();
    </script>
  </body>
</html>
