@import 'config';
@import 'mixins';
@import 'fonts-generate';

@import './grid';
@import './components/splide-custom';
@import './components/dropdown';
@import './components/banner-collections';
@import './components/filters';
@import './components/accordion';
@import './components/nav';
@import './components/header';
@import './components/footer';
@import './components/card';
@import './components/cart';
@import './components/tabs';
@import './components/table';
@import './components/advant';
@import './components/catalog-banner';
@import './components/catalog';
@import './components/catalog-gallery';
@import './components/photo-gallery';
@import './components/main-stores';
@import './components/compare';
@import './components/online-stores';
@import './components/product-hero';
@import './components/tiles';
@import './components/list-number';
@import './components/form-contacts';
@import './components/clients-logo';
@import './components/examples';
@import './components/product-spec';
@import './components/history';
@import './components/profile';
@import './components/recommends';
@import './components/spec-list';
@import './components/certification';
@import './components/field-colors';
@import './components/instructions';
@import './components/client-order';
@import './components/form-editable';

@import './elements/buttons';
@import './elements/field-text';
@import './elements/field-checkbox';
@import './elements/field-radio';
@import './elements/field-drop-checkboxes';
@import './elements/field-quantity';

[data-sal='slide-up-right'] {
  transform: translate3d(-60px, 60px, 0);
}

[data-sal='slide-up-left'] {
  transform: translate3d(60px, 60px, 0);
}

[data-sal='slide-down-right'] {
  transform: translate3d(-60px, -60px, 0);
}

[data-sal='slide-down-left'] {
  transform: translate3d(60px, -60px, 0);
}

[data-sal|='slide'].sal-animate,
body.sal-disabled [data-sal|='slide'] {
  opacity: 1;
  transform: none;
}

body {
  &.scroll-off {
    overflow: hidden !important;
  }
}

.container {
  @include container($md-grid-gutter: $grid-gutter-width + 20);
}

.group-links {
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.link-pdf {
  display: inline-block;
  position: relative;
  padding-left: 40px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 25px;
    background: url('../img/icons/icon-pdf.svg');
  }

  span {
    display: block;
    font-size: 14px;
    color: #b6b6b6;
    padding-top: 5px;
  }
}

.about-box {
  padding-bottom: 70px;

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding: 0;

    @include md {
      padding: 40px 35px 0px;
    }
    @include lg {
      padding: 70px 0px 70px 40px;
      flex-direction: row;
    }
    @include xl {
      padding: 90px 0px 90px 70px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $gray-light;
      z-index: -1;
      @include md {
        bottom: 185px;
      }
      @include lg {
        right: 260px;
        bottom: 0;
      }
      @include xl {
        right: 100px;
      }
    }
  }

  &__text {
    color: #4b4b4b;

    padding: 25px;

    @include md {
      padding: 0 0 40px 0;
    }
    @include lg {
      padding-right: 70px;
      padding-bottom: 0;
      flex-basis: 510px;
    }
    @include xl {
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__img {
    width: 100%;
    height: 170px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include md {
      height: 300px;
    }
    @include lg {
      height: 340px;
      flex-basis: 620px;
    }
    @include xl {
      height: 340px;
    }
  }
}

.list-dots {
  padding-left: 25px;
  margin: 0;
  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &::marker {
      font-size: 25px;
    }
  }
}

.vendor-code {
  display: block;
  color: #aeaeae;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1;

  @include lg {
    font-size: 12px;
  }
}

.example-colors {
  background: #f8f8f8;

  &__inner {
    display: flex;
    padding: 80px 0;

    flex-direction: column-reverse;
    @include md {
      padding: 100px 0;
    }
    @include lg {
      padding: 120px 0;
      flex-direction: row;
      align-items: center;
    }
    @include xl {
      padding: 140px 0;
    }
  }

  &__preview {
    max-width: 465px;
    height: 230px;
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 auto;

    @include md {
      margin: 0;
    }

    @include xl {
      max-width: 590px;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    flex: 1;
    font-size: 18px;
    color: $gray-dark;
    margin-bottom: 40px;

    @include md {
      max-width: 430px;
      margin-bottom: 60px;
    }
    @include lg {
      max-width: 410px;
      margin-left: auto;
      margin-bottom: 0;
    }
    @include xl {
      max-width: 430px;
    }

    p {
      margin: 0;
    }
  }

  &__check {
    padding-top: 25px;

    .field-colors {
      &__item {
        margin-right: 40px;
      }
      &__check {
        border-color: #ebebeb;
      }
      input:checked ~ .field-colors__check {
        border-color: #c6c6c6;
      }
    }
  }
}

.link-md {
  font-size: 15px;
  font-weight: $font-semibold;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1;

  &:hover {
    text-decoration: none;
  }
}

.company-ru,
.company-web {
  font-size: 12px;

  @include xl {
    font-size: 14px;
  }
}

.company-ru {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  padding-right: 28px;
  position: relative;
  margin-right: 40px;

  &::after {
    content: '';
    background: url('../img/icons/rus.svg') no-repeat center;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    position: absolute;
    right: 0;
  }
}

.company-web {
  display: inline-flex;
  align-items: center;
  line-height: 1;

  &::before {
    content: '';
    background: url('../img/icons/web.svg') no-repeat center;
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
}

// search-form
.search-form {
  &__input {
    width: 100%;
    height: 36px;
    background-color: $gray-light;
    background-image: url('../img/icons/icon-search.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 12px 12px 12px 30px;
    border-radius: 3px;
    border: 0;
    font-size: 12px;
    color: $black;
    line-height: 1;

    &::placeholder {
      color: #878787;
    }
  }
}

.bg-img-fullwidth {
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.page-section {
  padding: 80px 0;

  @include md {
    padding: 100px 0;
  }
  @include lg {
    padding: 120px 0;
  }
  @include xl {
    padding: 140px 0;
  }

  &--gray {
    background-color: $gray-light;
  }
  &--black {
    background-color: $black;
  }

  &__head {
    margin-bottom: 40px;

    @include md {
      margin-bottom: 50px;
    }

    h2,
    h3 {
      margin-bottom: 15px;
    }

    [data-tabs] {
      display: flex;
      align-items: flex-end;

      [aria-selected] {
        outline: none;
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 48px;
        }
      }
      [aria-selected='false'] {
        color: #b6b6b6;
        font-size: 32px;
        margin-bottom: 10px;
      }
    }
  }

  &__title {
    &.h1 {
      margin-bottom: 40px;
      @include lg {
        margin-bottom: 50px;
      }
    }
  }

  &__subtitle {
    color: $gray-dark;
    font-size: 18px;
  }
}

.payment-icons {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  &-head {
    padding-top: 60px;
    padding-bottom: 40px;
    @include md {
      padding-top: 80px;
      padding-bottom: 50px;
    }
    @include lg {
      padding-top: 100px;
      padding-bottom: 70px;
    }
    @include xl {
      padding-top: 120px;
    }

    &__subtitle {
      color: $gray-dark;
      font-size: 18px;

      a {
        color: $gray-dark;
        font-weight: $font-semibold;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      &--md {
        font-size: 20px;
        font-weight: $font-normal;
        line-height: (32/20);
        margin-bottom: 50px;
      }
      &--lg {
        color: $gray;
        font-size: 38px;
        font-weight: $font-light;
        line-height: (49.4/38);
        margin-bottom: 50px;

        @include md {
          font-size: 42px;
          line-height: (54.6/42);
        }
        @include lg {
          font-size: 50px;
          line-height: (65/50);
        }
        @include xl {
          font-size: 56px;
          line-height: (72.8/56);
        }
      }
    }
  }
}

// container-narrow
.container-narrow {
  max-width: 850px;
}

@keyframes bubble-fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.social {
  display: flex;

  &__link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($color: $gray, $alpha: 0.2);
    border-radius: 50%;

    &:not(:first-child) {
      margin-left: 15px;
    }

    &:hover {
      background-color: rgba($color: $gray-light, $alpha: 0.1);
      border-color: rgba($color: $gray, $alpha: 0.1);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: rgba($black, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: opacity $transition-time ease;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.page-contacts {
  position: relative;

  .page-head {
    &__title {
      line-height: 1;
    }
  }

  .container-narrow {
    max-width: 100%;

    @include lg {
      padding-right: 57%;
    }
    @include xl {
      padding-right: 60%;
    }
  }
}

.contacts-cities {
  padding-top: 50px;

  @include lg {
    padding-right: 50%;
  }
  @include xl {
    padding-top: 70px;
  }

  &__tabs {
    padding-bottom: 40px;

    button {
      background: transparent;
      border: 0;
      font-size: 20px;
      color: $gray;
      line-height: 1;

      @include lg {
        font-size: 22px;
      }
      @include xl {
        font-size: 24px;
      }
      &[aria-selected='true'] {
        color: $black;
        text-decoration: underline;
      }
      &:hover {
        color: $black;
      }
      &:focus {
        outline: none;
      }
      &:not(:last-child) {
        margin-right: 30px;
        @include lg {
          margin-right: 35px;
        }
        @include xl {
          margin-right: 50px;
        }
      }
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 40px;

    @include md {
      padding-bottom: 60px;
    }
    @include lg {
      padding-bottom: 80px;
    }
    @include xl {
      padding-bottom: 120px;
    }

    li {
      line-height: 1;
      &:not(:last-child) {
        padding-bottom: 30px;
        @include md {
          padding-bottom: 35px;
        }
        @include xl {
          padding-bottom: 40px;
        }
      }

      span {
        display: block;
        color: $gray;
        margin-bottom: 10px;
      }

      a {
        text-decoration: underline;
        .icon {
          margin-right: 8px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__map {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: -10px;
    margin-right: -10px;

    @include md {
      // padding-top: 80px;
      margin-left: -20px;
      margin-right: -20px;
    }
    @include lg {
      top: 100px;
      width: 50%;
      margin-left: 0;
      margin-right: 0;
    }
    @include lg {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 120px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@import 'helpers';
