$gray-lighter: hsl(0, 0%, 80%) !default;
$border-color: rgba($gray, 0.7);
$border-radius: 0;

$text-color--muted: hsl(0, 0%, 50%) !default;

$line-height: 1;

$field-padding-vertical: 0.9em !default;
$field-padding-horizontal: 1em !default;

.field-text {
  $block-name: &; // #{$block-name}__element

  display: block;
  // margin-bottom: $typo-margin-vertical;
  margin-bottom: 0;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
    position: relative;
  }

  &__input {
    @include field-text;
    margin-top: 15px;

    @at-root textarea#{&} {
      $textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);

      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }
  }

  &__help-text {
    visibility: hidden;
    @include field-help-text;
    position: absolute;
    top: 0;
  }

  &--error {
    #{$block-name}__name,
    #{$block-name}__input,
    #{$block-name}__help-text {
      color: $color-danger;
    }

    #{$block-name}__help-text {
      visibility: visible;
    }

    #{$block-name}__input {
      border-color: $color-danger;

      &::placeholder {
        color: $color-danger;
      }
    }
  }
}
