.field-quantity {
  display: inline-flex;
  background-color: rgba(#fff, 0.5);

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type='button'] {
    cursor: pointer;
    -moz-appearance: textfield;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
  }

  &__minus,
  &__plus,
  &__input {
    font-size: 16px;
    font-weight: $font-medium;
  }

  &__minus,
  &__plus {
    flex-shrink: 0;
    border: 1px solid rgba($color: $gray, $alpha: 0.5);
    background-color: transparent;
    width: 35px;
    padding: 0;
  }

  &__input {
    width: 40px;
    height: 32px;
    border: 1px solid rgba($color: $gray, $alpha: 0.5);
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin: 0 -1px;
    text-align: center;
  }

  &__plus {
    // left: -13px;
  }
}
