.cart-delivery {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding-top: 25px;
  padding-bottom: 100px;

  @include md {
    padding-bottom: 120px;
  }

  @include lg {
    padding-top: 35px;
    padding-bottom: 140px;
    flex-direction: row;
  }

  @include xl {
    padding-bottom: 160px;
  }

  &__aside {
    flex: 1;

    @include lg {
      max-width: 390px;
    }
    @include xl {
      max-width: 445px;
    }
  }
  &__form {
    flex: 1;

    @include sm-max {
      .btn {
        width: 100%;
      }
    }
    @include lg {
      max-width: 530px;
    }
    @include xl {
      max-width: 680px;
    }

    fieldset {
      padding-bottom: 70px;

      &:last-child {
        padding-bottom: 50px;
      }

      .field-radio {
        &__name {
          max-width: 285px;

          &-text {
          }
        }
        &__info {
          line-height: 1.2;
        }
      }
    }

    legend {
      font-size: 18px;
      font-weight: $font-bold;
      line-height: 1;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba($gray, 0.5);
      margin: 0;
    }

    .form-personal-data {
      &__group {
        padding-top: 15px;

        @include md {
          display: grid;
          grid-gap: 5px 20px;
          grid-template-columns: 1fr 1fr;
        }
        @include lg {
          grid-gap: 10px 25px;
        }
      }
    }

    .form-delivery {
      &__group {
        .field-wrap {
          display: grid;
          grid-template-columns: 1fr 60px;
          border-bottom: 1px solid rgba($gray, 0.5);

          @include md {
          }
          @include xl {
            grid-template-columns: 1fr 100px;
          }
        }
        .field-radio {
          margin-bottom: 0;

          @include sm-max {
            flex-direction: column;
          }
        }
      }
    }

    .form-type-payment {
      &__group {
        .field-wrap {
          border-bottom: 1px solid rgba($gray, 0.5);
        }
        .field-radio {
          margin-bottom: 0;
        }
      }
    }
  }
}

.field-wrap {
  padding: 22px 0 16px;

  &__price {
    text-align: right;
    white-space: nowrap;
  }
}

.cart-total {
  background-color: #f1f1f1;
  padding: 20px 20px 25px;
  margin-bottom: 50px;

  @include md {
    padding: 30px;
    margin-bottom: 60px;
  }
  @include lg {
    padding: 25px;
  }
  @include xl {
    padding: 40px 45px 45px;
  }

  a {
    line-height: 1;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: $font-bold;
    line-height: 1;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 14px 0 10px;

    .cart-total-product {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;
      border-bottom: 1px solid rgba($gray, 0.5);

      &:first-child {
        border-top: 1px solid rgba($gray, 0.5);
      }

      &__img {
        width: 54px;
      }

      &__name {
        span {
          display: block;

          &:first-child {
            font-size: 14px;
            line-height: 1.2;
          }

          &:last-child {
            font-size: 12px;
            line-height: 1;
            padding-top: 5px;
          }
        }
      }

      &__amount {
        font-size: 12px;
        line-height: 1;
        width: 35px;
        text-align: center;
      }

      &__price {
        font-size: 14px;
        line-height: 1;
        font-weight: $font-bold;
        white-space: nowrap;
      }
    }
  }

  &__detail {
    list-style: none;
    padding: 0;
    margin: 30px 0 25px;
    border-top: 1px solid rgba($gray, 0.5);
    border-bottom: 1px solid rgba($gray, 0.5);
    padding: 6px 0;

    li {
      display: flex;
      justify-content: space-between;
      padding: 6px 0;
      line-height: 1;
    }
  }

  &__payment {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 1;
    font-weight: $font-bold;
  }
}

.cart-order {
  padding-bottom: 90px;

  @include md {
    padding-bottom: 110px;
  }
  @include lg {
    padding-bottom: 140px;
  }
  @include xl {
    padding-bottom: 110px;
  }

  &__head {
    display: flex;
    border-bottom: 1px solid rgba($gray, 0.5);
    padding-bottom: 15px;

    @include sm-max {
      display: none;
    }

    span {
      flex: 1;
      font-weight: $font-bold;
      line-height: 1;
      color: $gray;

      &:nth-child(1) {
        @include md {
          // max-width: calc(150 / 1200 * 100%);
          // width: 150px;
          flex-basis: 150px;
        }
        @include lg {
          // max-width: calc(405 / 1200 * 100%);
          // width: 405px;
          flex-basis: 405px;
        }
        @include xl {
          // max-width: calc(456 / 1200 * 100%);
          // width: 455px;
          flex-basis: 455px;
          // width: ((455 / 1200 * 100%) + 1);
          // flex: ((455 / 1200 * 100) / 100 + 1);
        }
      }
      &:nth-child(2) {
        @include md {
          // max-width: calc(110 / 1200 * 100%);
          // width: 110px;
          flex-basis: 110px;
        }
        @include lg {
          // max-width: calc(154 / 1200 * 100%);
          // width: 155px;
          flex-basis: 155px;
        }
        @include xl {
          // max-width: calc(208 / 1200 * 100%);
          // width: 210px;
          flex-basis: 210px;
          // flex: ((210 / 1200 * 100) / 100 + 1);
        }
      }
      &:nth-child(3) {
        @include md {
          // max-width: calc(150 / 1200 * 100%);
          // width: 150px;
          flex-basis: 150px;
        }
        @include lg {
          // max-width: calc(184 / 1200 * 100%);
          // width: 185px;
          flex-basis: 185px;
        }
        @include xl {
          // max-width: calc(240 / 1200 * 100%);
          // width: 240px;
          flex-basis: 240px;
          // flex: ((240 / 1200 * 100) / 100 + 1);
        }
      }
      &:nth-child(4) {
        // max-width: calc(296 / 1200 * 100%);
        @include md {
          // max-width: calc(190 / 1200 * 100%);
          // width: 190px;
          flex-basis: 190px;
        }
        @include lg {
          // max-width: calc(215 / 1200 * 100%);
          // width: 215px;
          flex-basis: 215px;
        }
        @include xl {
          // max-width: calc(296 / 1200 * 100%);
          // width: 295px;
          flex-basis: 295px;
          // flex: ((295 / 1200 * 100) / 100 + 1);
        }
      }
    }
  }
  &__list {
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba($gray, 0.5);
    padding: 15px 0;

    @include md {
      flex-direction: row;
      align-items: center;
    }
    @include lg {
    }
    @include xl {
    }
  }

  &__product,
  &__price,
  &__amount,
  &__total {
    flex: 1;
  }
  &__price,
  &__amount,
  &__total {
    @include sm-max {
      padding-left: 90px;
    }
  }
  &__product {
    display: flex;
    align-items: center;

    &-inner {
      // display: flex;
      // align-items: center;
      // padding-right: 25px;
    }

    @include md {
      // max-width: calc(150 / 1200 * 100%);
      // width: 150px;
      flex-basis: 150px;
      flex-direction: column;
    }
    @include lg {
      // max-width: calc(405 / 1200 * 100%);
      // width: 405px;
      flex-basis: 405px;
      flex-direction: row;
    }
    @include xl {
      // max-width: calc(456 / 1200 * 100%);
      // width: 455px;
      flex-basis: 455px;
      padding-right: 25px;
    }

    img {
      max-width: 80px;
      max-height: 52px;
      object-fit: cover;
      width: 100%;
      margin-right: 10px;

      @include md {
        max-width: 86px;
        max-height: 52px;
      }

      @include lg {
        max-width: 120px;
        max-height: 78px;
        margin-right: 20px;
      }
      @include xl {
        margin-right: 35px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      &:last-child {
        color: $gray;
      }
    }
  }
  &__price {
    @include md {
      // max-width: calc(110 / 1200 * 100%);
      // width: 110px;
      flex-basis: 110px;
    }
    @include lg {
      // max-width: calc(154 / 1200 * 100%);
      // width: 155px;
      flex-basis: 155px;
    }
    @include xl {
      // max-width: calc(208 / 1200 * 100%);
      // width: 210px;
      flex-basis: 210px;
    }

    span {
      display: block;

      &:first-child {
        font-weight: $font-bold;
      }
    }
  }
  &__amount {
    @include md {
      // max-width: calc(150 / 1200 * 100%);
      // width: 150px;
      flex-basis: 150px;
    }
    @include lg {
      // max-width: calc(184 / 1200 * 100%);
      // width: 185px;
      flex-basis: 185px;
    }
    @include xl {
      // max-width: calc(240 / 1200 * 100%);
      // width: 240px;
      flex-basis: 240px;
    }
  }
  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include md {
      // max-width: calc(190 / 1200 * 100%);
      // width: 190px;
      flex-basis: 190px;
    }
    @include lg {
      // max-width: calc(215 / 1200 * 100%);
      // width: 215px;
      flex-basis: 215px;
    }
    @include xl {
      // max-width: calc(296 / 1200 * 100%);
      // width: 295px;
      flex-basis: 295px;
    }

    span {
      font-weight: $font-bold;
    }

    .remove {
    }
  }

  &__bottom {
    padding-top: 60px;
    text-align: right;

    span {
      display: block;
      font-size: 18px;
      font-weight: $font-bold;
      line-height: 1;
      margin-bottom: 40px;
    }
  }

  &__btns {
    @include sm-max {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

// .cart-order {
//   @include md {
//     display: table;
//     border-collapse: collapse;
//     empty-cells: show;
//     width: 100%;
//   }
//   &__head {
//     @include sm-max {
//       display: none;
//     }
//     @include md {
//       display: table-row;

//       span {
//         display: table-cell;
//       }
//     }
//   }
//   &__list {
//     @include md {
//       display: table-row-group;
//     }
//   }

//   &__item {
//     @include md {
//       display: table-row;
//     }
//   }

//   &__product,
//   &__price,
//   &__amount,
//   &__total {
//     @include md {
//       display: table-cell;
//       vertical-align: middle;
//     }
//   }
// }
