.catalog {
  &-nav {
    border-bottom: 1px solid #dddddd;

    &__wrap {
      display: flex;
      align-items: center;
    }

    &__name {
      font-weight: $font-bold;
      flex-shrink: 0;
      padding-right: 20px;
      position: relative;
      opacity: 0.99;
      @include md {
        padding-right: 65px;
      }
      @include xl {
        font-size: 18px;
        padding-right: 130px;
      }
    }

    &__list {
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-wrap: nowrap;
      padding: 11px 0;
      margin: 0;
      list-style: none;

      @include lg {
        padding: 17px 0;
      }
      @include xl {
        padding: 19.5px 0;
      }
      li {
        font-size: 14px;
        @include xl {
          font-size: 16px;
        }
        &:not(:last-child) {
          margin-right: 20px;
          @include md {
            margin-right: 25px;
          }
          @include xl {
            margin-right: 30px;
          }
        }
      }

      a {
        &:not(.active) {
          color: #8e8e8e;
        }
        &:hover {
          color: #2d2d2d;
        }
      }
    }
  }

  &__filters {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 50px;
    padding: 25px 0;
    @include md {
      padding: 30px 0 40px;
    }
    @include lg {
      margin-top: 60px;
      padding: 40px 0;
    }
    @include xl {
      margin-top: 70px;
      padding: 50px 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px 20px;
    padding-top: 30px;

    @include md {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 60px 20px;
    }
    @include lg {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 60px 30px;
    }
  }

  &--category {
    .catalog__list {
      grid-gap: 10px;
      padding-top: 0;

      @include md {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
      }
      @include lg {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
      }
      @include xl {
        grid-gap: 45px;
      }
    }
    .card {
      background-color: $gray-light;

      @media screen and (min-width: 640px) and (max-width: 991px) {
        flex-direction: row;
        align-items: center;
      }

      &__img {
        margin: 0 30px;

        @media screen and (min-width: 640px) and (max-width: 991px) {
          flex: 1;
          margin: 35px;
        }
        @include md-max {
          &::before {
            content: none;
          }
          img {
            position: static;
          }
        }
        @include sm-max {
          padding: 30px 0 40px;
        }
      }
      &__title {
        margin-bottom: 10px;
        font-size: 26px;
        @include md {
          font-size: 22px;
          margin-bottom: 20px;
        }
        @include lg {
          font-size: 26px;
        }
        @include xl {
          font-size: 28px;
          margin-bottom: 45px;
        }
      }
      &__content {
        padding: 0 30px 30px;
        @media screen and (min-width: 640px) and (max-width: 991px) {
          padding-left: 30px;
          padding-right: 45px;
          padding-bottom: 0;
          flex: 1;
        }
        @include lg {
          padding: 15px 40px 35px;
          flex: 1;
          display: flex;
          flex-direction: column;

          .link-arrow {
            margin-top: auto;
          }
        }
        @include xl {
          padding-top: 0;
          padding-bottom: 45px;
        }
      }
    }
  }

  &--series {
    .catalog__list {
      @include lg {
        grid-gap: 70px 30px;
      }
    }
    .card {
      &__img {
        background-color: $gray-light;
        margin-bottom: 30px;

        &:before {
          padding-top: (14 / 19) * 100%;
        }
      }
    }
  }

  &--products {
  }

  &__bottom {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    @include md {
      padding-bottom: 120px;
    }
    @include lg {
      padding-top: 70px;
      padding-bottom: 140px;
    }
    @include xl {
      padding-top: 80px;
      padding-bottom: 160px;
    }
    .btn {
      width: 100%;
      min-width: 260px;
      @include lg {
        width: auto;
      }
    }
    .pagination {
      padding-top: 35px;
    }
  }
}
