.compare {
  &__head {
    padding-top: 25px;
    padding-bottom: 50px;
    @include sm-max {
      display: flex;
      flex-direction: column-reverse;

      .field-checkbox {
        margin-bottom: 0;
      }
    }
    @include md {
      display: grid;
      grid-template-columns: 1fr minmax(365px, 830px);
      grid-gap: 0 35px;
      padding-bottom: 60px;
    }
    @include lg {
      padding-bottom: 70px;
      padding-top: 35px;
      grid-gap: 0 45px;
    }
    @include xl {
      padding-top: 40px;
      padding-bottom: 100px;
      grid-gap: 0 65px;
    }
  }

  &__products {
    .card {
      &__name {
        font-size: 14px;
      }
      &__price {
        font-size: 16px;
      }
    }
    .splide {
      &__arrow {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-100%);

        &--prev {
          left: 0;
        }
        &--next {
          right: 0;
        }
      }
    }
  }
  &__buttons {
    padding-top: 50px;
    @include md {
      padding-top: 0;
      max-width: 200px;
    }
    @include lg {
      max-width: 240px;
    }
    @include xl {
      max-width: 300px;
    }
    .btn {
      width: 100%;
      font-size: 10px;
      padding: 20px 35px;
      margin-bottom: 15px;
      @include lg {
        font-size: 12px;
      }
    }
    .field-checkbox {
      @include lg {
        padding-top: 15px;
      }
    }
  }

  &__info {
    padding-bottom: 100px;
    @include md {
      padding-bottom: 120px;
    }
    @include lg {
      padding-bottom: 140px;
    }
    @include xl {
      padding-bottom: 160px;
    }
  }

  .spec-list {
    &__cells {
      span {
        display: none;
      }
    }
    &--cols-5 {
      li {
        grid-template-columns: 1fr;
        @include md {
          grid-template-columns: 220px 1fr;
        }
        @include lg {
          grid-template-columns: 260px 1fr;
        }
        @include xl {
          grid-template-columns: 340px 1fr;
        }
      }
      .spec-list__label {
        @include md {
          grid-column: 1;
        }
      }
      .spec-list__cells {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        @include md {
          grid-gap: 25px;
        }
        @include lg {
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 70px;
        }
        @include xl {
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 0px;
        }
      }
    }
  }
}
