.dropdown {
  position: relative;
  display: inline-block;

  &.selected {
    &:not(.show) {
      [data-toggle='dropdown'] {
        background-color: $black;
        color: #fff;
      }
      [data-clear] {
        &::before,
        &::after {
          background-color: #fff;
        }
      }
    }

    [data-toggle='dropdown'] {
      &::after {
        content: none;
      }
    }
  }

  [data-toggle='dropdown'] {
    min-width: 160px;
    // width: 150px;
    padding: 17px 15px;
    border: 0px;
    line-height: 1;
    outline: none;
    text-align: left;
    position: relative;
  }

  [data-icon='true'] {
    padding-right: 45px;

    &:after {
      content: '';
      position: absolute;
      right: 15px;
      top: 50%;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid currentColor;
      border-right: 1px solid currentColor;
      transform: translateY(-70%) rotate(45deg);
      transition: transform $transition-time, border-color $transition-time;
    }
  }

  [data-clear] {
    display: inline-block;
    padding: 10px;
    font-size: 0;
    line-height: 1;
    position: absolute;
    background-color: transparent;
    visibility: hidden;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: $black;
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &::before {
      transform: translateX(-50%) rotate(-45deg);
    }
    &::after {
      transform: translateX(-50%) rotate(45deg);
    }

    &.show {
      visibility: visible;
    }
  }

  &__selected {
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }

  &__body {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    max-width: 90vw;
    width: 1px;
    margin: 0;
    background-color: #fff;
    color: $text-color;
    border: 1px solid $gray-light;
    // box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 12px -6px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity $transition-time;
    outline: none;

    &--up {
      top: auto;
      bottom: 100%;
    }

    &--right {
      left: auto;
      right: 0;
    }
  }

  &__body-inner {
    padding: 1em;
  }

  &.show & {
    &__body {
      z-index: 1;
      visibility: visible;
      opacity: 1;
      width: 100%;
    }
  }

  &.show {
    [data-toggle='dropdown'] {
      &::after {
        transform: translateY(-35%) rotate(-135deg);
      }
    }
    // [data-dropdown='arrow'] {
    //   &:after {
    //     border-color: $black;
    //     transform: translateY(-30%) rotate(225deg);
    //   }
    // }
  }
}
