.history {
  // padding: 0 10px;
  overflow: hidden;
  @include md {
    // padding: 0 20px;
  }
  @include lg {
    padding-right: 0;
  }
  @include xl {
    padding: 0;
  }
  .splide__track {
    margin-bottom: 80px;
  }
  .splide__arrows {
    margin-left: -10px;
    margin-right: -10px;
    padding: 0 10px;
    @include md {
      margin-left: -20px;
      margin-right: -20px;
      padding: 0 20px;
    }
    @include lg {
      padding: 0;
    }
  }
  &__item {
    span {
      display: block;
      font-size: 48px;
      line-height: 1;
      font-weight: $font-light;
      padding-bottom: 20px;
      border-bottom: 1px solid $gray;
    }
  }

  &__text {
    padding-top: 20px;
    line-height: 1.6;
  }
}
