.tabs-nav {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  margin-bottom: 30px;
  position: relative;

  &__mobile {
    background-color: $gray-light;
    border: 0;
    padding: 5px 17px;
    height: 50px;
    text-align: left;
    position: relative;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-right: 1px solid $black;
      border-bottom: 1px solid $black;
      transform: rotate(45deg);
      position: absolute;
      top: 20px;
      right: 18px;
    }

    &.active {
      &::after {
        top: 25px;
        transform: rotate(-135deg);
      }
    }

    @include md {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: -1px;

    @include sm-max {
      position: absolute;
      z-index: -1;
      top: 100%;
      left: 0;
      width: 1px;
      margin: 0;
      padding: 20px 0;
      background-color: #fff;
      color: $text-color;
      border: 1px solid $gray-light;
      box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      transition: opacity $transition-time;
    }
    @include md {
      flex-direction: row;
    }

    &.show {
      @include sm-max {
        z-index: 1;
        visibility: visible;
        opacity: 1;
        width: 100%;
      }
    }
  }

  &__btn {
    font-size: 16px;
    font-weight: $font-medium;
    line-height: 1;

    padding: 12px 0;
    border: 0;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: $gray;
    background-color: transparent;

    @include md {
      padding: 8px 0;
      margin-right: 40px;
    }
    @include lg {
      margin-right: 60px;
    }
    @include xl {
      margin-right: 80px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: $black;
    }

    &[aria-selected='true'] {
      color: $black;
      @include md {
        border-color: $black;
      }
    }
  }
}
.tabs-panes {
  &__item {
    &.show {
      .examples__lg {
        animation: eye 0.7s ease-in-out;
      }
      .examples__sm {
        animation: eye 0.5s ease-in-out;

        & + .examples__sm {
          animation: eye 0.9s ease-in-out;
        }
      }
    }
    &:focus {
      outline: none;
    }
  }
}
@keyframes eye {
  0% {
    transform: scale(0.97);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
