.table {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  empty-cells: show;
}
.table-caption {
  display: table-caption;
  padding: 10px;
  color: #333;
  font-size: 16px;
  text-align: center;
}
.table-colgroup {
  display: table-column-group;
}
.table-col {
  display: table-column;
}
.table-thead {
  display: none;
  font-size: 12px;
  font-weight: $font-bold;
  line-height: (15.6 / 12);
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include md {
    display: table-header-group;
  }
}
.table-tbody {
  display: table-row-group;

  &--colors {
    .table-tr {
      &:nth-child(odd) {
        background-color: $gray-light;
      }
    }
  }
}
.table-tfoot {
  display: table-footer-group;
}
.table-tr {
  display: table-row;
}
.table-th {
  font-size: 12px;
  line-height: (15.6 / 12);
  display: table-cell;
  padding: 15px 20px;
  font-weight: bold;
  text-align: left;
  @include lg {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.table-td {
  display: block;
  padding: 12.5px 20px;

  .group-links {
    font-size: 16px;
    line-height: 1;

    @include md {
      font-size: 15px;
      line-height: (24 / 15);
    }
  }
  @include md {
    height: 80px;
  }
  @include lg {
    height: 100px;
    padding: 25px 30px;
  }

  p {
    margin: 0;
    &:not(:first-child) {
      margin: 15px 0 0;
    }
  }

  &:first-of-type {
    font-size: 16px;
    line-height: 1;
    font-weight: $font-bold;

    @include sm-max {
      padding-top: 30px;
    }
    @include md {
      font-size: 18px;
      line-height: (23.4 / 20);
    }
    @include lg {
      font-size: 20px;
      line-height: (26 / 20);
    }
  }

  &:last-of-type {
    @include sm-max {
      padding-bottom: 30px;
    }
  }

  @include sm-max {
    &::before {
      content: attr(data-label);
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 1.3;
      margin-bottom: 7px;
    }
  }
  @include md {
    display: table-cell;
    vertical-align: middle;
  }
}
