$tile-img-offset-xs: 30px;
$tile-img-offset-lg: 50px;
$tile-img-offset-xl: 60px;

.tiles {
  overflow: hidden;
  .tile {
    display: grid;
    align-items: center;

    &__title {
      font-size: 22px;
      font-weight: $font-bold;
      line-height: 1;
      color: #1c1c1c;
      @include md {
        font-size: 24px;
      }
      @include lg {
        font-size: 28px;
        padding-bottom: 6px;
      }
    }
    &__text {
      font-size: 16px;
      color: #4b4b4b;
      @include lg {
        font-size: 18px;
      }
    }
  }

  &--square {
    .tile {
      @include md {
        grid-template-columns: repeat(2, 1fr);
      }
      @include lg {
        grid-gap: 80px;
      }
      @include xl {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
      }

      &__text {
        @include xl {
          padding: 0 80px;
        }
      }

      &__img {
        width: 100%;
        position: relative;

        @include sm-max {
          margin-bottom: 40px;
        }

        &:before {
          display: block;
          content: '';
          width: 100%;
          padding-top: (1 / 1) * 100%;
        }

        > img,
        > picture {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          background-color: $gray;
        }

        // &.sal-animate {
        //   &[data-sal='slide-up-right'] {
        //     &:after {
        //       opacity: 1;
        //       // transform: none;
        //     }
        //   }
        // }

        &:after {
          content: '';
          background-color: $gray-light;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
        }
      }

      &:nth-child(odd) {
        @include lg {
          grid-template-columns: calc((510 / 960) * 100%) 1fr;
        }
        @include xl {
          grid-template-columns: calc((580 / 1200) * 100%) 1fr;
        }
        .tile__img {
          > img,
          > picture {
            margin: 0 $tile-img-offset-xs $tile-img-offset-xs 0;
            @include lg {
              margin: 0 $tile-img-offset-lg $tile-img-offset-lg 0;
            }
            @include xl {
              margin: 0 $tile-img-offset-xl $tile-img-offset-xl 0;
            }
          }

          &:after {
            margin: $tile-img-offset-xs 0 0 $tile-img-offset-xs;
            @include lg {
              margin: $tile-img-offset-lg 0 0 $tile-img-offset-lg;
            }
            @include xl {
              margin: $tile-img-offset-xl 0 0 $tile-img-offset-xl;
            }
          }
        }
        .tile__text {
          @include md {
            margin-left: 50px;
          }
          @include lg {
            margin-left: 0;
          }
          @include xl {
            margin-left: 20px;
          }
        }
      }
      &:nth-child(even) {
        // @include md {
        //   grid-template-columns: 1fr 1fr;
        // }
        @include lg {
          grid-template-columns: 1fr calc((510 / 960) * 100%);
        }
        @include xl {
          grid-template-columns: 1fr calc((580 / 1200) * 100%);
        }
        .tile__img {
          > img,
          > picture {
            margin: 0 0 $tile-img-offset-xs $tile-img-offset-xs;
            @include lg {
              margin: 0 0 $tile-img-offset-lg $tile-img-offset-lg;
            }
            @include xl {
              margin: 0 0 $tile-img-offset-xl $tile-img-offset-xl;
            }
          }

          &:after {
            margin: $tile-img-offset-xs $tile-img-offset-xs 0 0;
            @include lg {
              margin: $tile-img-offset-lg $tile-img-offset-lg 0 0;
            }
            @include xl {
              margin: $tile-img-offset-xl $tile-img-offset-xl 0 0;
            }
          }
        }
        .tile__text {
          @include md {
            margin-right: 50px;
          }
          @include lg {
            margin-right: 0;
          }
          @include xl {
            margin-right: 20px;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 60px;
        @include md {
          margin-bottom: 90px;
        }
        @include lg {
          margin-bottom: 120px;
        }
      }
    }
  }

  &:not(.tiles--square) {
    .tile {
      grid-gap: 40px 0;
      @include lg {
        grid-gap: 0 70px;
      }
      @include xl {
        grid-gap: 0 120px;
      }

      &__text {
        max-width: 600px;
        @include xl {
        }
        @include lg {
          // max-width: 370px;
        }
        @include xl {
          grid-template-columns: 1fr calc((640 / 1200) * 100%);
        }
      }

      &__img {
      }

      &:nth-child(odd) {
        @include lg {
          grid-template-columns: 1fr calc((520 / 960) * 100%);
        }
        @include xl {
          grid-template-columns: 1fr calc((640 / 1200) * 100%);
        }
        .tile__img {
        }
        .tile__text {
          @include lg {
            justify-self: flex-start;
          }
        }
      }
      &:nth-child(even) {
        @include lg {
          grid-template-columns: calc((520 / 960) * 100%) 1fr;
        }
        @include xl {
          grid-template-columns: calc((640 / 1200) * 100%) 1fr;
        }
        .tile__img {
        }
        .tile__text {
          @include lg {
            justify-self: flex-end;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 60px;

        @include lg {
          margin-bottom: 100px;
        }
        @include xl {
          margin-bottom: 120px;
        }
      }
    }
  }

  @include md {
    &--revers {
      &.tiles--square {
        .tile {
          &:nth-child(odd) {
          }
          &:nth-child(even) {
            .tile__img {
              order: 1;
            }
            .tile__text {
              order: 0;
            }
          }
        }
      }
    }
  }
  @include lg {
    &--revers {
      &:not(.tiles--square) {
        .tile {
          &:nth-child(odd) {
          }
          &:nth-child(even) {
            .tile__img {
              order: 0;
            }
            .tile__text {
              order: 1;
            }
          }
        }
      }
    }
  }
}
