<div class="banner-collections bg-black">
  <div class="js-banner-collections splide">
    <div class="splide__track">
      <div class="splide__list">
        <div class="splide__slide">
          <div class="container">
            <div class="banner-collections__item">
              <div class="banner-collections__img">
                <img src="img/content/banner-img.png" alt="" />
              </div>
              <div class="banner-collections__text">
                <div class="banner-collections__overhead">
                  Новая коллекция 2020
                </div>
                <div class="banner-collections__title">
                  Продлите теплые вечера
                </div>
              </div>
              <div class="banner-collections__btn">
                <a href="catalog-series.html" class="btn btn--transp"
                  >перейти к коллекции</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="splide__slide">
          <div class="splide__slide">
            <div class="container">
              <div class="banner-collections__item">
                <div class="banner-collections__img">
                  <img src="img/content/banner-img.png" alt="" />
                </div>
                <div class="banner-collections__text">
                  <div class="banner-collections__overhead">
                    Новая коллекция
                  </div>
                  <div class="banner-collections__title">
                    Продлите теплые вечера
                  </div>
                </div>
                <div class="banner-collections__btn">
                  <a href="catalog-series.html" class="btn btn--transp"
                    >перейти к коллекции</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="splide__arrows">
      <div class="container">
        <button
          class="splide__arrow splide__arrow--white splide__arrow--prev"
        ></button>
        <button
          class="splide__arrow splide__arrow--white splide__arrow--next"
        ></button>
      </div>
    </div>
  </div>
</div>
