<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__contacts">
        <a href="" class="footer__logo">
          <img
            src="img/logo-white.png"
            alt="Heliosa"
            srcset="img/logo-white@2x.png 2x"
          />
        </a>
        <ul class="contacts">
          <li><a href="tel:+78005558095">+7 (800) 555-80-95</a></li>
          <li><a href="mailto:sale@heliosa-rus.ru">sale@heliosa-rus.ru.</a></li>
        </ul>
        <div class="social">
          <a href="" class="social__link">
            <svg width="16" height="10">
              <use xlink:href="img/icons.svg#social-vk"></use>
            </svg>
          </a>
          <a href="" class="social__link">
            <svg width="7" height="14">
              <use xlink:href="img/icons.svg#social-fb"></use>
            </svg>
          </a>
          <a href="" class="social__link">
            <svg width="16" height="16">
              <use xlink:href="img/icons.svg#social-inst"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__links">
        <div class="footer-nav">
          <span>Продукция</span>
          <ul>
            <li><a href="catalog-series.html">Настенные обогреватели</a></li>
            <li><a href="catalog-series.html">Напольные обогреватели</a></li>
            <li><a href="catalog-series.html">Аксессуары</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <span>Поддержка</span>
          <ul>
            <li><a href="stores.html">Где купить</a></li>
            <li><a href="specifications.html">Таблица характеристик</a></li>
            <li>
              <a href="instructions.html">Инструкция по эксплуатации</a>
            </li>
            <li><a href="mounting.html">Рекомендации по монтажу</a></li>
            <li><a href="faq.html">Вопросы и ответы</a></li>
            <li><a href="guarantee.html">Информация о гарантии</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <span>О компании</span>
          <ul>
            <li><a href="#">О компании </a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__copy">© 2010–2020 ООО «Хелиоса Рус»</div>
  </div>
</footer>
@@include('modals/_modal-login.html')
<div class="overlay"></div>
<script src="js/vendor/micromodal.min.js"></script>
<script src="js/vendor/tabbis.min.js"></script>
<script src="js/vendor/splide.min.js"></script>
