<section class="form-contacts">
  <div class="container">
    <div class="form-contacts__inner">
      <div class="form-contacts__text">
        <div class="form-contacts__title h2">Остались вопросы?</div>
        <div class="form-contacts__subtitle">
          Оставьте ваши контакты и мы ответим на все вопросы
        </div>
      </div>
      <div class="form-contacts__form">
        <form action="">
          <label class="field-text field-text--error">
            <span class="field-text__input-wrap">
              <span class="field-text__help-text"
                >Поле обязательно для заполнения</span
              >
              <input
                class="field-text__input field-text__input--lg"
                type="text"
                placeholder="Имя*"
              />
            </span>
          </label>
          <label class="field-text">
            <span class="field-text__input-wrap">
              <input
                class="field-text__input field-text__input--lg"
                type="text"
                placeholder="Телефон*"
              />
            </span>
          </label>
          <button type="submit" class="btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
