<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top__inner">
        <span class="company-ru">Официальный сайт Star Progetti в России</span>
        <a href="starprogetti.com" class="company-web">starprogetti.com</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header__main">
      <div class="header__logo">
        <a href="">
          <img
            src="img/logo-black.png"
            alt="Heliosa"
            srcset="img/logo-black@2x.png 2x"
          />
        </a>
      </div>

      <div class="header__nav">
        <nav class="nav">
          <button class="mobile-nav-close">
            <svg class="icon icon--blue" width="19" height="19">
              <use xlink:href="img/icons.svg#icon-close"></use>
            </svg>
          </button>
          @@include('store/_nav-list.html')
        </nav>

        <div class="header__nav-user">
          <a href="profile-data.html">
            <svg width="13" height="13">
              <use xlink:href="img/icons.svg#icon-user"></use>
            </svg>
          </a>
          <a href="#">
            <svg width="21" height="15">
              <use xlink:href="img/icons.svg#icon-compare"></use>
            </svg>
            <span class="header-counter">2</span>
          </a>
          <a href="cart.html">
            <svg width="14" height="13">
              <use xlink:href="img/icons.svg#icon-cart"></use>
            </svg>
            <span class="header-counter">33</span>
          </a>
        </div>
        <button class="mobile-nav-trigger">
          <span class="burger"></span>
        </button>
      </div>

      <div class="header__search">
        <form class="search-form" action="">
          <input type="text" class="search-form__input" placeholder="Поиск" />
        </form>
      </div>
    </div>
  </div>
</header>
