<div class="card">
  <div class="card__img">
    <a href="product-page.html">
      <img src="img/content/product-1.png" alt="" />
    </a>
  </div>
  <div class="card__content">
    <div class="card__name semibold">
      <a href="#" class="link-arrow">Heliosa Hi Design 9 серия</a>
    </div>
    <p>
      HELIOSA HI DESIGN 44 серия уличных инфракрасных обогревателей среднего
      размера с изящной перфорацией в боковых стенках для охлаждения корпуса.
      Закругленные мягкие формы корпуса подходят практически для любого
      интерьера. Все модели серии имеют класс защиты IPX5.
    </p>
  </div>
</div>
