<div class="catalog-nav medium">
  <div class="container">
    <div class="catalog-nav__wrap">
      <ul class="catalog-nav__list">
        <li><a href="">Heliosa 11</a></li>
        <li><a href="" class="active">Heliosa 44</a></li>
        <li><a href="">Heliosa 55</a></li>
        <li><a href="">Heliosa 66</a></li>
        <li><a href="">Heliosa 77, 88</a></li>
        <li><a href="">Heliosa 990, 991, 992</a></li>
        <li><a href="">Heliosa 993</a></li>
        <li><a href="">Heliosa 994, 995</a></li>
        <li><a href="">Heliosa 996, 997, 998, 999</a></li>
      </ul>
    </div>
  </div>
</div>
