<div class="catalog catalog--category">
  <div class="catalog__list">
    <div class="card">
      <div class="card__img">
        <a href="catalog-series.html"
          ><img src="img/design/wall-heaters.png" alt=""
        /></a>
      </div>
      <div class="card__content">
        <h3 class="card__title">Настенные обогреватели</h3>
        <a href="catalog-series.html" class="link-arrow">Перейти в каталог</a>
      </div>
    </div>
    <div class="card">
      <div class="card__img">
        <a href="catalog-series.html"
          ><img src="img/design/floor-heaters.png" alt=""
        /></a>
      </div>
      <div class="card__content">
        <h3 class="card__title">Напольные обогреватели</h3>
        <a href="catalog-series.html" class="link-arrow">Перейти в каталог</a>
      </div>
    </div>
    <div class="card">
      <div class="card__img">
        <a href="catalog-series.html"
          ><img src="img/design/accessories.png" alt=""
        /></a>
      </div>
      <div class="card__content">
        <h3 class="card__title">Аксессуары</h3>
        <a href="catalog-series.html" class="link-arrow">Перейти в каталог</a>
      </div>
    </div>
  </div>
</div>
